@charset "UTF-8";
/* 
    Cách sử dụng:
        + @include tên-mixins {
            content
        }
*/
/*
    Cách sử dụng:
        + @include animation(tên keyframe duration timing-function);
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 
    Sử dụng để thanh cuộn mượt mà hơn không có cũng được
    Sử dụng line-height 1.4 để sử dụng cho web dùng chữ tiếng việt
*/
html {
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  font-family: "Lexend";
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  background: #FAFCFC;
  color: #607D8B;
}

a,
a:hover {
  text-decoration: none;
}

img {
  border-style: none;
}

p,
label {
  margin: 0;
}

ul,
ol,
li {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  list-style-type: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

textarea {
  overflow: auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input,
textarea,
button,
button:active,
button:focus,
select,
select:focus {
  outline-color: #40D2F2;
}

input[disabled],
input[disabled=disabled],
input[readonly],
input[readonly=readonly] {
  background: #ECEFF1;
}

/* 
    Sử dụng file này để link font chữ có trong dự án 
    + Note: 
        Phải transform font trước khi sử dụng
        Link font từ file main.css sang folder font để sử dụng
        Trong file reset phải sử dụng font-family chủ đạo cho dự án 
*/
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Black.eot");
  src: url("../fonts/Lexend-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Black.woff2") format("woff2"), url("../fonts/Lexend-Black.woff") format("woff"), url("../fonts/Lexend-Black.ttf") format("truetype"), url("../fonts/Lexend-Black.svg#Lexend-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.eot");
  src: url("../fonts/Lexend-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Regular.woff2") format("woff2"), url("../fonts/Lexend-Regular.woff") format("woff"), url("../fonts/Lexend-Regular.ttf") format("truetype"), url("../fonts/Lexend-Regular.svg#Lexend-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-ExtraBold.eot");
  src: url("../fonts/Lexend-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-ExtraBold.woff2") format("woff2"), url("../fonts/Lexend-ExtraBold.woff") format("woff"), url("../fonts/Lexend-ExtraBold.ttf") format("truetype"), url("../fonts/Lexend-ExtraBold.svg#Lexend-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-ExtraLight.eot");
  src: url("../fonts/Lexend-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-ExtraLight.woff2") format("woff2"), url("../fonts/Lexend-ExtraLight.woff") format("woff"), url("../fonts/Lexend-ExtraLight.ttf") format("truetype"), url("../fonts/Lexend-ExtraLight.svg#Lexend-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Thin.eot");
  src: url("../fonts/Lexend-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Thin.woff2") format("woff2"), url("../fonts/Lexend-Thin.woff") format("woff"), url("../fonts/Lexend-Thin.ttf") format("truetype"), url("../fonts/Lexend-Thin.svg#Lexend-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-SemiBold.eot");
  src: url("../fonts/Lexend-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-SemiBold.woff2") format("woff2"), url("../fonts/Lexend-SemiBold.woff") format("woff"), url("../fonts/Lexend-SemiBold.ttf") format("truetype"), url("../fonts/Lexend-SemiBold.svg#Lexend-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Medium.eot");
  src: url("../fonts/Lexend-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Medium.woff2") format("woff2"), url("../fonts/Lexend-Medium.woff") format("woff"), url("../fonts/Lexend-Medium.ttf") format("truetype"), url("../fonts/Lexend-Medium.svg#Lexend-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Light.eot");
  src: url("../fonts/Lexend-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Light.woff2") format("woff2"), url("../fonts/Lexend-Light.woff") format("woff"), url("../fonts/Lexend-Light.ttf") format("truetype"), url("../fonts/Lexend-Light.svg#Lexend-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Bold.eot");
  src: url("../fonts/Lexend-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lexend-Bold.woff2") format("woff2"), url("../fonts/Lexend-Bold.woff") format("woff"), url("../fonts/Lexend-Bold.ttf") format("truetype"), url("../fonts/Lexend-Bold.svg#Lexend-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
    File này sử dụng để tạo các class có thể sử dụng chung 
    và được dùng đi dùng lại 
*/
.heading-primary {
  font-size: 42px;
  font-weight: 700;
  color: #2F44A1;
  margin-bottom: 16px;
}

.heading-secondary {
  font-size: 38px;
  font-weight: 500;
  color: #2F44A1;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: #2F44A1;
  margin: 0;
}

.title-info {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #E29000;
}

.paragraph {
  font-size: 16px;
  font-weight: 500;
  color: #607D8B;
  margin-bottom: 16px;
}

.over-flow-x {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ECEFF1;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
}

.transperant {
  background: transparent !important;
}

.flex-100 {
  flex: 0 0 100% !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.mr-200 {
  margin-right: 200px;
}

.c16-gap {
  -moz-column-gap: 16px !important;
       column-gap: 16px !important;
}

.c40-gap {
  -moz-column-gap: 40px !important;
       column-gap: 40px !important;
}

.c64-gap {
  -moz-column-gap: 64px !important;
       column-gap: 64px !important;
}

.fz-15 {
  font-size: 15px;
}

.abs-right {
  position: absolute;
  right: -12px;
  transform: translateX(100%);
}

.border-tb {
  border-bottom: 1px solid #ECEFF1;
  border-radius: 5px;
}

.clr-ac {
  color: #4FD08A;
}

.clr-warn {
  color: #FBBF24;
}

.clr-req {
  color: #F44336;
}

.clr-gr {
  color: #0FB159;
}

.clr-red {
  color: #CF422F;
}

.clr-vio {
  color: #BB33DD;
}

.clr-blue {
  color: #00CCCC;
}

.clr-yl {
  color: #CCAC3D;
}

.clr-gray {
  color: #546E7A;
}

.bg-gray {
  background: #ECEFF1 !important;
}

.mw-30 {
  min-width: 30px;
}

.mw-40 {
  min-width: 40px;
}

.mw-50 {
  min-width: 50px;
}

.mw-60 {
  min-width: 60px;
}

.mw-70 {
  min-width: 70px;
}

.mw-80 {
  min-width: 80px;
}

.mw-90 {
  min-width: 90px;
}

.mw-100 {
  min-width: 100px;
}

.mw-110 {
  min-width: 110px;
}

.mw-120 {
  min-width: 120px;
}

.mw-130 {
  min-width: 130px;
}

.mw-140 {
  min-width: 140px;
}

.mw-150 {
  min-width: 150px;
}

.mw-160 {
  min-width: 160px;
}

.mw-170 {
  min-width: 170px;
}

.mw-180 {
  min-width: 180px;
}

.mw-190 {
  min-width: 190px;
}

.mw-200 {
  min-width: 200px;
}

.mw-210 {
  min-width: 210px;
}

.mw-220 {
  min-width: 220px;
}

.mw-230 {
  min-width: 230px;
}

.mw-240 {
  min-width: 240px;
}

.mw-250 {
  min-width: 250px;
}

.mw-260 {
  min-width: 260px;
}

.mw-270 {
  min-width: 270px;
}

.mw-280 {
  min-width: 280px;
}

.mw-290 {
  min-width: 290px;
}

.mw-300 {
  min-width: 300px;
}

.mw-310 {
  min-width: 310px;
}

.mw-320 {
  min-width: 320px;
}

.mw-330 {
  min-width: 330px;
}

.mw-340 {
  min-width: 340px;
}

.mw-350 {
  min-width: 350px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
    Sẽ link bootstrap nên sẽ custom những class sau:
        + .container
        + .row
        + .col...       
*/
/*
    Lưu ý:
        + max-width của từng container có thể được thay đổi 
        nên tùy từng bản design sẽ tùy. 
*/
.container {
  max-width: 1758px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0 15px;
}

.cs-col-7 {
  flex: 0 0 55.7%;
  max-width: 55.7%;
  margin-left: 22px;
}

.cs-col-2 {
  flex: 0 0 18%;
  max-width: 18%;
}

.header {
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #2F44A1;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.head-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-left .logo {
  margin: 0 24px 0 0;
  padding: 0;
}
.head-left .logo__link {
  display: block;
}
.head-left .logo img {
  margin: 0;
}

.head-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-right-search {
  position: relative;
}
.head-right-search input {
  max-width: 200px;
  width: 100%;
  background: #DFE3F4;
  padding: 8.5px 32px;
}
.head-right-search input::-moz-placeholder {
  font-style: normal;
  color: #3763C1;
}
.head-right-search input:-ms-input-placeholder {
  font-style: normal;
  color: #3763C1;
}
.head-right-search input::placeholder {
  font-style: normal;
  color: #3763C1;
}
.head-right-search input:focus + .head-child {
  display: block;
}
.head-right-search:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 15px;
  height: 15px;
  background: url(../image/icon/ic-search.svg) no-repeat center center;
}
.head-right-search .head-child {
  position: absolute;
  top: 58px;
  right: 0;
  min-width: 400px;
  width: 100%;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: all 0.3s;
  display: none;
}
.head-right-search .head-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #E1861B;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #B0BEC5;
}
.head-right-search .head-title img {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}
.head-right-search .head-body {
  padding: 8px 0 0 10px;
}
.head-right-search .head-body > div {
  font-size: 13px;
  line-height: 16px;
  color: #263238;
  margin-bottom: 16px;
}
.head-right .user {
  margin-left: 16px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.head-right .user:hover .block-utility {
  display: block;
}
.head-right .user .name-user div {
  color: #6E6B7B;
  text-align: right;
}
.head-right .user .name-user div:first-child {
  font-weight: 500;
}
.head-right .user .avt {
  width: 40px;
  height: 40px;
}
.head-right .user .avt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head-right .user .block-utility {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 133px;
  display: none;
  padding-top: 11px;
}
.head-right .user .block-utility .box-utility {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.head-right .user .block-utility .box-utility a {
  padding: 8px;
  display: flex;
  align-items: center;
}
.head-right .user .block-utility .box-utility a span:first-child {
  min-width: 20px;
  margin-right: 6px;
  position: relative;
  top: -1.5px;
}
.head-right .user .block-utility .box-utility a span:last-child {
  color: #6E6B7B;
}
.head-right .user .block-utility .box-utility a:hover {
  background: rgba(231, 231, 231, 0.68);
}

.bell a {
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 20px;
}

.navigation > ul {
  display: flex;
  align-items: center;
}
.navigation > ul > li {
  position: relative;
}
.navigation > ul > li > a {
  padding: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A8B0D8;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1600px) {
  .navigation > ul > li > a {
    padding: 6px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1366px) {
  .navigation > ul > li > a {
    padding: 6px 4px;
  }
}
.navigation > ul > li > a .icon-nav {
  margin-right: 6px;
}
@media only screen and (max-width: 1366px) {
  .navigation > ul > li > a .icon-nav {
    display: none;
  }
}
.navigation > ul > li > a .icon-nav-ac {
  margin-right: 6px;
  display: none;
}
@media only screen and (max-width: 1366px) {
  .navigation > ul > li > a .icon-nav-ac {
    display: none;
  }
}
@media only screen and (max-width: 1600px) {
  .navigation > ul > li > a span {
    max-width: 85px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.navigation > ul > li:hover > a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.navigation > ul > li:hover .icon-nav {
  display: none;
}
.navigation > ul > li:hover .icon-nav-ac {
  display: block;
}
@media only screen and (max-width: 1366px) {
  .navigation > ul > li:hover .icon-nav-ac {
    display: none;
  }
}
.navigation > ul > li:hover .block-dropdown {
  display: block;
}
.navigation > ul > li.active > a {
  background: #4086E7;
  color: #fff;
}
.navigation > ul > li.active .icon-nav {
  display: none;
}
.navigation > ul > li.active .icon-nav-ac {
  display: block;
}
@media only screen and (max-width: 1366px) {
  .navigation > ul > li.active .icon-nav-ac {
    display: none;
  }
}
.navigation > ul > li.has-dropdown:hover a::after {
  width: 100%;
  transition: all 0.3s linear;
}
.navigation > ul > li.has-dropdown:hover .icon-agldown {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(100%) contrast(101%);
}
.navigation > ul > li.has-dropdown > a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width 0.2s ease-out;
  -webkit-transition: width 0.2s ease-out;
}
.navigation > ul > li.has-dropdown:hover > a {
  color: #fff;
  opacity: 0.88;
}
.navigation > ul > li.has-dropdown.active > a {
  background-color: transparent;
  color: #FFD281;
}
.navigation > ul > li.has-dropdown.active > a:hover {
  color: #FFD281 !important;
}
.navigation > ul > li.has-dropdown.active > a:after {
  width: 100%;
  background-color: #FFD281;
}
.navigation.sub > ul > li:not(:last-child) {
  margin-right: 40px;
}
.navigation.sub > ul > li:hover a {
  background: none;
}
.navigation.sub > ul > li > a {
  height: 40px;
  padding: 12px 0;
  color: #99AFDF;
}
.navigation.sub > ul > li > a .icon-agldown {
  margin: 0 0 2px 5px;
}
.navigation.sub > ul > li > a span {
  max-width: 100%;
}

.sub-head {
  background: #3763C1;
  padding-left: 88px;
}

.block-dropdown {
  position: absolute;
  padding-top: 6px;
  top: 100%;
  left: 0;
  display: none;
}
.block-dropdown ul {
  padding: 16px 24px 32px 12px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 212px;
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  /* Handle */
  /* Handle on hover */
}
.block-dropdown ul::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
.block-dropdown ul::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #fafafa;
}
.block-dropdown ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f1f1f1;
}
.block-dropdown ul::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
.block-dropdown ul li:not(:last-child) {
  margin-bottom: 8px;
}
.block-dropdown ul li a {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  line-height: 1.4;
  padding: 0;
  color: #78909C !important;
}
.block-dropdown ul li a:hover {
  color: #2F44A1 !important;
}
.block-dropdown ul li.active a:after {
  background: #6E6B7B;
}

.block-search {
  background: #FAFCFC;
  border-bottom: 1px solid #CFD8DC;
}

.block-add {
  background: #FAFCFC;
  border-radius: 5px;
  padding: 24px 0 0;
}

.box-add {
  margin: 0 16px;
}
.box-add.manage {
  border-bottom: 1px solid #CFD8DC;
}

.block-wrap {
  border: 1px solid #ECEFF1;
  border-radius: 8px;
  position: relative;
  margin-top: 20px;
}

.head-wrap {
  position: absolute;
  top: -10px;
  left: 14px;
  background-color: #FAFCFC;
  padding: 0 6px;
}

.body-wrap {
  padding: 16px 24px 0px 16px;
}

.block-group {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.box-group > div:first-child {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #546E7A;
  margin-bottom: 8px;
}

.body-group input {
  width: 100%;
  padding: 6px 0 6px 37px;
  margin: 0;
  height: 28px;
}
.body-group .content-group {
  border-radius: 8px;
  border: 1px solid #CFD8DC;
}
.body-group .list-group {
  padding: 8px;
  border-radius: 8px;
  max-height: 320px;
  height: 100%;
  overflow-y: auto;
}
.body-group .item-group:not(:last-child) {
  margin-bottom: 20px;
}
.body-group .item-group a {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ic-search {
  margin-bottom: 6px;
  position: relative;
}
div.ic-search::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background: url(../image/icon/ic-search-gray.svg) no-repeat center center;
  width: 16px;
  height: 16px;
}

.transaction .block-group {
  grid-template-columns: 600px 600px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.transaction .box-group {
  border-radius: 8px;
  border: 1px solid #CFD8DC;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.03);
}
.transaction .box-group > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #2F44A1;
  padding: 6px 8px 6px 8px;
  margin-bottom: 0;
  background: #fff;
  border-radius: 8px 8px 0 0;
}
.transaction .box-group > div:first-child .ic-search {
  margin: 0;
  filter: drop-shadow(-1px -1px 1px #FFFFFF) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
.transaction .box-group > div:first-child .ic-search::after {
  left: 50%;
  transform: translate(-50%, -50%);
}
.transaction .box-group > div:first-child .ic-search input {
  width: 21px;
  height: 21px;
}
.transaction .body-group .content-group {
  border: none;
}
.transaction .body-group button.btn-group {
  background: #EFF6FF;
  color: #546E7A;
  border: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05), inset -1px 0px 2px rgba(0, 0, 0, 0.05), inset 0px -1px 2px rgba(0, 0, 0, 0.05), inset 1px 0px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

.justify-end > .group-add {
  justify-content: end;
}

.group-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.group-add .item-search {
  flex: 1;
  max-width: 378px;
  height: 40px;
}
.group-add .item-search label {
  max-width: 128px;
  min-width: 128px;
  width: 100%;
}
.group-add .item-search input[type=checkbox] {
  width: 16px;
  height: 16px;
}
.group-add .item-search + .item-search {
  justify-content: end;
}
.group-add-three {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.group-add.c40-gap label {
  max-width: 72px;
}
.group-add.c64-gap {
  margin: 0 8px 8px;
}
.group-add.c64-gap label {
  max-width: 80px;
  min-width: 80px;
}
.group-add.c64-gap .name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #37474F;
}
.group-add.c64-gap select {
  background-color: #fff;
}
.group-add.c64-gap:last-child {
  padding-top: 24px;
  border-top: 1px solid #CFD8DC;
}

.head-add {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #546E7A;
  padding: 24px 0 16px;
}

.body-search {
  padding: 0 16px;
}

.box-top {
  background: #FAFCFC;
  border-radius: 5px;
}
.box-top .box-search {
  row-gap: 10px;
  margin-bottom: 8px;
}

.box-search {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.box-search .item-search {
  width: 100%;
  max-width: calc(20% - 16px);
}

.item-search {
  display: flex;
  align-items: center;
  position: relative;
}
.item-search label {
  font-size: 13px;
  margin: 0 16px 0 0;
  white-space: nowrap;
}
.item-search.sl {
  position: relative;
}
.item-search.sl:after {
  content: "";
  width: 25px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  background: url(../image/icon/ic-arr-down2.svg) no-repeat center right;
}
.item-search input {
  max-width: 250px;
  width: 100%;
  height: 40px;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
}
.item-search input::-moz-placeholder {
  color: #111827;
}
.item-search input:-ms-input-placeholder {
  color: #111827;
}
.item-search input::placeholder {
  color: #111827;
}
.item-search input.date {
  position: relative;
  padding-left: 32px;
  background: url(../image/icon/ic-calendar.svg) no-repeat center left 12px, #fff;
  background-position: 12px 12px;
}
.item-search input.date:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}
.item-search select {
  max-width: 250px;
  width: 100%;
  height: 40px;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
}
.item-search select::-moz-placeholder {
  color: #111827;
}
.item-search select:-ms-input-placeholder {
  color: #111827;
}
.item-search select::placeholder {
  color: #111827;
}

.block-function {
  background: #FAFCFC;
  border-bottom: 1px solid #CFD8DC;
}

.head-function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 16px;
}

.box-function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 594px;
  width: 100%;
}

.block-exchange {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.box-exchange {
  background-color: #fff;
  padding: 16px;
  width: 100%;
}
.box-exchange h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #546E7A;
  margin-bottom: 16px;
}
.box-exchange:nth-child(1) {
  border-radius: 0px 8px 8px 0px;
  flex: 0 0 32.15%;
  max-width: 32.15%;
}
.box-exchange:nth-child(2) {
  border-radius: 8px;
  background: #F9FFF9;
  flex: 0 0 34%;
  max-width: 34%;
}
.box-exchange:nth-child(3) {
  border-radius: 8px 0px 0px 8px;
  flex: 0 0 32.15%;
  max-width: 32.15%;
}
.box-exchange:nth-child(4) {
  max-width: 100%;
}

.block-record {
  border-radius: 5px;
  background: #FAFCFC;
  margin-bottom: 20px;
  padding: 24px 0px 40px;
}

.block-utilities {
  display: flex;
}
.block-utilities button {
  background: none;
  box-shadow: none;
  color: #607D8B;
  font-size: 13px;
  font-weight: 600;
  height: 24px;
  white-space: nowrap;
}
.block-utilities button img {
  margin-right: 6px;
}
.block-utilities button span {
  margin-top: 2px;
}
.block-utilities.func {
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.block-utilities.func button {
  margin-left: 0;
  border: 1px solid #4086E7;
  border-radius: 4px;
  padding: 3.5px 8px;
  height: 100%;
}
.block-utilities.func button img, .block-utilities.func button i {
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin-right: 6px;
}

.foot-record {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px 18px;
  color: #6E6B7B;
  border: 1px solid #ECEFF1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #fff;
}
.foot-record > div:first-child {
  max-width: 587px;
  width: 100%;
}

.body-report {
  padding: 32px 16px;
  max-height: calc(100vh - 172px);
  overflow-y: auto;
}

.foot-report {
  padding: 16px;
  background: #F4FAFF;
}

.flex-report {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.flex-report .title-report {
  color: #404040;
  min-width: 118px;
  margin-right: 10px;
}
.flex-report .field-report {
  min-width: calc(100% - 128px);
}

.block-info {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  background: #FFFFFF;
  padding: 16px 0 32px 64px;
}

.box-info {
  max-width: 176px;
  width: 100%;
  font-size: 12px;
}

.head-info {
  font-weight: 600;
  line-height: 15px;
  color: #607D8B;
  margin-bottom: 13px;
}

.body-info > a {
  color: #78909C;
  display: block;
  margin-bottom: 8px;
  line-height: 15px;
}
.body-info > a:hover {
  color: #3763C1;
}

.logo {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin-bottom: 30px;
}
.logo img {
  margin-right: 8px;
  height: 28px;
}
.logo .txt-logo {
  color: #1B3E74;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}
.logo .txt-logo span {
  white-space: nowrap;
}

.main {
  padding: 100px 0;
  min-height: 100vh;
  background: #FAFCFC;
  position: relative;
}

.sidebar + .main {
  width: calc(100% - 248px);
  padding: 0 15px 50px 15px;
  float: right;
  transition: all 0.3s;
  min-height: 100vh;
}

.sidebar + .main > .container {
  padding: 0 10px;
}

.head-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 16px;
}

.search-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 594px;
  width: 100%;
}

.f-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  background-color: #FAFCFC;
}
.search__wrap {
  padding: 24px 24px 18px;
  display: flex;
}
.search__wrap.short {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #CFD8DC;
}
.search__option {
  max-width: 397px;
  width: 100%;
  padding: 16px;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}
.search__option-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__option-box:not(:last-child) {
  margin-bottom: 16px;
}
.search__option-box label {
  margin: 0;
}
.search__option-box select {
  max-width: 250px;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 0;
  color: #607D8B;
}
.search__option + div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__list {
  padding: 16px 0 0px 24px;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  width: 60%;
  margin-left: 8px;
  position: relative;
}
.search__list > ul {
  height: 168px;
  overflow-y: auto;
}
.search__list-name {
  position: absolute;
  top: -10px;
  background-color: #FAFCFC;
  padding: 0 6px;
}
.search__list-item {
  display: flex;
  align-items: center;
  color: #546E7A;
}
.search__list-item:not(:last-child) {
  margin-bottom: 16px;
}
.search__list-item input[type=checkbox] {
  width: 16px;
  margin-right: 8px;
}
.search__list-item a {
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__short {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.search__short a {
  display: inline-flex;
  color: #78909C;
}
.search__short a:hover {
  color: #3763C1;
}
.search__short-item {
  display: flex;
  max-width: 100%;
  height: 28px;
  background: rgba(236, 239, 241, 0.3);
  padding: 5px 10px;
  border: 1px solid #B0BEC5;
  border-radius: 999px;
  font-size: 12px;
  white-space: nowrap;
}
.search__short-item input[type=checkbox] {
  width: 16px;
  margin-right: 8px;
}

.signature-box, .uq {
  min-width: 190px;
  height: 196px;
}

.price__info {
  display: flex;
  align-items: center;
}
.price__info-box {
  display: flex;
  align-items: center;
}
.price__info-box > div:first-child {
  margin-right: 4px;
  color: #78909C;
  font-size: 12px;
}
.price__info-box:not(:last-child) {
  margin-right: 16px;
}
.price__content {
  margin-top: 16px;
  display: grid;
  grid-template-columns: auto 244px;
  gap: 24px;
  padding: 0 16px;
}
.price__box .title {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #78909C;
  margin-bottom: 4px;
}
.price__inner {
  border: 1px solid #ECEFF1;
  border-radius: 8px;
  padding: 16px;
}
.price__head {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.price__head > div:first-child {
  margin-right: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #546E7A;
}
.price__head > div:last-child {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #546E7A;
  margin-top: 4px;
}
.price__body {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.price__body > div:first-child {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-right: 8px;
}
.price__body > div:last-child {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 2px;
}
.price__bottom {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #546E7A;
}
.price__bottom > div:first-child {
  margin-right: 4px;
}
.price__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #78909C;
}
.price__item:not(:last-child) {
  margin-bottom: 16px;
}
.price__item > div:last-child {
  font-weight: 600;
}
.price__thead {
  display: flex;
  font-size: 12px;
}
.price__thead > div:nth-child(1) {
  flex: 5 1 0;
}
.price__thead > div:nth-child(2) {
  flex: 3 1 0;
  text-align: right;
}
.price__thead > div:nth-child(3) {
  text-align: right;
  flex: 5 1 0;
}
.price__group.active > a {
  background: #CEFDE6;
}
.price__group.active > a > .item:first-child > .item-text, .price__group.active > a > .item:nth-child(3) > .item-text {
  color: #37474F;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.price__group.active > a > .item:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4FD08A;
}
.price__link {
  display: flex;
  color: #546E7A;
  line-height: 16.25px;
  margin: 0 -16px;
  padding: 10px 16px;
}
.price__link:hover {
  color: #37474F;
}
.price__link .item:first-child {
  flex: 5 1 0;
}
.price__link .item:first-child > .item-text {
  margin: 0;
}
.price__link .item:nth-child(2) {
  flex: 3 1 0;
  text-align: right;
}
.price__link .item:nth-child(3) {
  text-align: right;
  flex: 5 1 0;
}

#signature {
  min-height: 441px;
  height: 100%;
}

.filter {
  margin: 12px 0 0 40px;
  font-weight: 600;
  font-size: 12px;
  color: #78909C;
}

.step {
  display: none;
}

.step.step1 {
  display: block;
}

.step.step3.rotate i {
  transform: rotate(180deg);
  transition: all 0.3s !important;
}

.over-flow-x::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.over-flow-x::-webkit-scrollbar-track,
.scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.over-flow-x::-webkit-scrollbar-thumb,
.scroll-bar::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 5px;
}

.over-flow-x::-webkit-scrollbar-thumb:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.bread-crumb {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.bread-crumb a {
  color: #A73733;
}
.bread-crumb a:last-child {
  color: #6E6B7B;
  font-size: 18px;
  line-height: 21px;
}
.bread-crumb a:hover {
  text-decoration: underline;
}
.bread-crumb img {
  margin: 0 14px;
}
.bread-crumb img.icon-home {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr th {
  background: #ECEFF1;
  padding: 13.5px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #607D8B;
  white-space: nowrap;
  line-height: 12px;
}
table tbody tr td {
  border: 1px solid #ECEFF1;
  color: #455A64;
  padding: 8px 10px;
  border-right: 0;
  border-left: 0;
  white-space: nowrap;
  max-width: 257px;
  text-overflow: ellipsis;
  display: -wwebkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom: 0;
}

.tbl-record table {
  width: 100%;
  border-collapse: collapse;
}
.tbl-record table thead tr th {
  background: #6B9BC7;
  border: 1px solid #ECEFF1;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
}
.tbl-record table tbody tr td {
  border: 1px solid #ECEFF1;
  color: #607D8B;
  padding: 8px 10px;
}
.tbl-record table tbody tr:nth-child(even) {
  background: #E9EEF2 !important;
}

.show-record select {
  width: 42px;
  height: 24px;
  padding: 0 5px 0 0px;
  padding-left: 6px;
  border: 1px solid #CFD8DC;
  border-radius: 6px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  margin: 0 4px;
  background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 4px;
}

.refresh-record {
  display: flex;
  align-items: center;
}
.refresh-record span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  margin: 0 8px;
}
.refresh-record select {
  height: 24px;
  padding: 0 5px 0 4px;
  min-width: 56px;
  background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 8px;
}

.number-record {
  margin-right: 24px;
}

.block-dashboard {
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 16px;
  margin-bottom: 20px;
}
.block-dashboard:last-child {
  margin-bottom: 0;
}

.title-dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.title-dashboard > span {
  margin-right: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 132%;
  color: #A73733;
}

.nav-chart {
  border: none;
}
.nav-chart .nav-item {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 16px;
  color: #6E6B7B;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
}
.nav-chart .nav-item:hover {
  background: #f5f5f5;
}
.nav-chart .nav-item.active {
  background: #52B850;
  color: #fff;
}

.tab-chart {
  padding: 0 50px;
}

.tab-popup {
  border-bottom: 0;
  margin-bottom: 18px;
}
.tab-popup .nav-item {
  margin-bottom: 0;
  margin-right: 16px;
}
.tab-popup .nav-item .nav-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6E6B7B;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 4px 0;
}
.tab-popup .nav-item .nav-link.active {
  color: #A73733;
  border-bottom: 2px solid #A73733;
}
.tab-popup .nav-item .nav-link.active:hover {
  border-bottom: 2px solid #A73733;
}
.tab-popup .nav-item .nav-link:hover {
  color: #A73733;
  border: none;
}

.nav-add {
  background: #F8F8FF;
  padding: 0 32px;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
}
.nav-add .nav-item {
  margin-bottom: 0;
  margin-right: 48px;
}
.nav-add .nav-item .nav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #607D8B;
  border: none;
  border-radius: 0;
  background: none;
  padding: 12px 0px;
  transition: all 0.1s;
}
.nav-add .nav-item .nav-link.active {
  color: #3763C1;
  border-bottom: 2px solid #2F44A1;
}
.nav-add .nav-item .nav-link.active:hover {
  border-bottom: 2px solid #2F44A1;
}
.nav-add .nav-item .nav-link:hover {
  color: #3763C1;
  border-bottom: 2px solid #2F44A1;
}

.tab-wrap {
  padding: 24px 16px;
}

.nav-order .nav-link {
  color: #fff;
  padding: 7px 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background: #CFD8DC;
  border-radius: 0;
  position: relative;
  z-index: 1;
}
.nav-order .nav-link.active.buy {
  background: #0FB159;
  padding: 7px 50px 7px 34px;
}
.nav-order .nav-link.active.buy:before {
  content: "";
  background: #CFD8DC;
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  -webkit-clip-path: polygon(75% 0, 100% -20%, 100% 100%);
          clip-path: polygon(75% 0, 100% -20%, 100% 100%);
  z-index: -1;
}
.nav-order .nav-link.active.buy:after {
  content: "";
  position: absolute;
  top: 0;
  right: 13px;
  background: #fff;
  width: 3px;
  height: 100%;
  transform: skewX(38deg);
}
.nav-order .nav-link.active.sell {
  background: #CF422F;
  padding: 7px 30px 7px 60px;
}
.nav-order .nav-link.active.sell:before {
  content: "";
  background: #CFD8DC;
  position: absolute;
  top: 0;
  left: -1px;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(1% 0%, 0% 100%, 35% 150%);
          clip-path: polygon(1% 0%, 0% 100%, 35% 150%);
  z-index: -1;
}
.nav-order .nav-link.active.sell:after {
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  background: #fff;
  width: 3px;
  height: 100%;
  transform: skewX(38deg);
}
.nav-order + div {
  font-size: 12px;
}
.nav-order + div div:first-child {
  margin-right: 25px;
}
.nav-order + div a {
  display: flex;
  width: 13px;
  height: 13px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
.nav-order + div img {
  width: 100%;
  height: 100%;
}

/*
    Sử dụng file để style cho các button 
*/
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 40px;
  background-image: linear-gradient(to right, #2F44A1, #3763C1, #3763C1);
  background-size: 200% 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-position: 100% 0;
  transition: all 0.3s ease-in-out;
}
button img {
  width: 20px;
  height: 20px;
}

.btn-search {
  background: #4086E7;
  border: 1px solid #4086E7;
  border-radius: 8px;
  width: 117px;
  font-size: 14px;
  margin-left: 24px;
  box-shadow: none;
}
.btn-search img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.render {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: #607D8B;
  font-size: 14px;
  box-shadow: none;
  height: 23px;
}
.render img {
  margin-left: 15px;
}

.btn-login {
  display: block;
  width: 100%;
  height: 48px;
  margin: 32px 0 0 0;
  border: none;
  color: #fff;
  background: #4294F6;
  border-radius: 8px;
}
@media only screen and (max-width: 576px) {
  .btn-login {
    margin: 22px 0 0 0;
  }
}
.btn-login:hover {
  background: #3c87e4;
}

.btn-utilities {
  background: #BB7A6C;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  margin: 0 4px 0 0px;
  color: #fff;
  min-width: 74px;
  height: 25px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  box-shadow: none;
}
.btn-utilities:hover {
  background: #c38e82;
  transition: all 0.2s ease-in-out;
}

.btn-function {
  margin-right: 7px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.btn-function.btn-spacing > div {
  width: 16px;
}
.btn-function:last-child {
  margin-right: 0;
}
.btn-function:after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-right: 5px solid transparent;
  border-top: 5px solid #efefef;
  border-left: 5px solid transparent;
  display: none;
}
.btn-function:focus-visible {
  outline-color: #a6e7a5;
}
.btn-function:hover:after {
  display: block;
}
.btn-function .imgbefore-hv {
  vertical-align: middle;
  width: 16px;
  height: 15px;
  position: relative;
  z-index: 10;
}
.btn-function span {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.btn-function span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #efefef;
  width: 27px;
  height: 27px;
  border-radius: 5px;
  display: none;
}
.btn-function:hover span i {
  background: #A73733;
  font-size: 13px;
  padding-top: 2px;
  z-index: 9;
  color: #fff;
}
.btn-function:hover span:after {
  display: block;
}
.btn-function .name-function-fix {
  color: #303030;
  background: #efefef;
  padding: 5px 10px;
  border-radius: 3px;
  position: fixed;
  transform: translate(-35%, calc(-100% - 12px));
  white-space: nowrap;
  pointer-events: none;
  top: -1000px;
  left: -1000px;
  z-index: 12;
}

.btn-close {
  border: none;
  background: transparent;
  padding: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: none;
  height: 16px;
  opacity: 1;
}
.btn-close img {
  height: 16px;
}
.btn-close:focus, .btn-close:focus-visible {
  outline: transparent;
  opacity: 1 !important;
}

.btn-save {
  min-width: 112px;
}
.btn-save img {
  margin-right: 9px;
}

.btn-cancel {
  border: none;
  min-width: 81px;
  height: 40px;
  color: #4086E7;
  margin-right: 8px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  background: #E4F2FE;
  border: 1px solid #4086E7;
  border-radius: 8px;
}
.btn-cancel img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.btn-confirm {
  background: #4086E7;
  color: #fff;
  width: 118px;
  padding: 14px 16px;
  border-radius: 8px;
}
.btn-confirm img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.btn-extend {
  background: none;
  color: #607D8B;
  box-shadow: none;
  font-size: 13px;
  height: 24px;
  margin-top: 4px;
  transition: all 0.3s linear;
}
.btn-extend i {
  font-size: 12px;
  margin: 0 4px 0 0px;
  transition: all 0.3s !important;
}

.btn-condition {
  min-width: 80px;
  background: #E4F2FE;
  border: 1px solid #4294F6;
  border-radius: 8px;
  box-shadow: none;
  color: #2F44A1;
  font-size: 13px;
  padding: 12px 8px;
  height: 40px;
}
.btn-condition img {
  width: 10px;
  height: 10px;
  margin: 0px 6px 0;
}

.btn-generate {
  width: 110px;
  height: 40px;
  background: none;
  box-shadow: none;
  color: #607D8B;
  padding: 14px 16px;
  border: 1px solid #4086E7;
  border-radius: 8px;
  font-size: 14px;
  margin: 0;
  background: #fff;
}
.btn-generate img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.btn-buy {
  width: 160px;
  color: #fff;
  background: #4FD08A;
  font-weight: 600;
  font-size: 14px;
  box-shadow: none;
}

.btn-sell {
  width: 160px;
  color: #fff;
  background: #F44336;
  font-weight: 600;
  font-size: 14px;
  box-shadow: none;
}

.btn-refresh {
  width: 40px;
  height: 40px;
  background: #E4F2FE;
  border: 1px solid #4294F6;
  border-radius: 8px;
}
.btn-refresh img {
  width: 12px;
  height: 16px;
}

.btn-upload {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 98px;
  height: 23px;
  white-space: nowrap;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0px 0px 8px rgba(0, 108, 183, 0.1);
  border-radius: 4px;
}

.btn-border {
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  padding: 5px 8px;
  margin-left: 10px;
}
.btn-border img {
  width: 16px;
  height: 14px;
}

.btn-check {
  padding: 13px 14px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  background: #10B981;
}
.btn-check img {
  width: 16px;
  height: 14px;
  margin-right: 6px;
}

.btn-refuse {
  padding: 13px 14px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  background: #EF5350;
}
.btn-refuse img {
  width: 16px;
  height: 14px;
  margin-right: 6px;
}

.btn-destroy {
  padding: 13px 14px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  background: #B0BEC5;
}
.btn-destroy img {
  width: 16px;
  height: 14px;
  margin-right: 6px;
}

.btn-group {
  background: #FAFCFC;
  font-size: 13px;
  line-height: 16px;
  color: #546E7A;
  margin: 0;
  width: 100%;
  height: 28px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #E6E8E8;
}
.btn-group img {
  width: 16px;
  height: 16px;
  margin-top: 1.6px;
}

.btn-import {
  min-width: 120px;
  height: 28px;
  background: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #607D8B;
  padding: 6px 10px;
  border: 1px solid #4086E7;
  border-radius: 4px;
  white-space: nowrap;
}
.btn-import img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.btn-down {
  height: 28px;
  background: transparent;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #607D8B;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}
.btn-down img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

/*
    Sử dụng file để style cho các input 
*/
input {
  width: 16px;
  height: 16px;
  padding: 0 16px;
  height: 32px;
  border: 1.25px solid #CFD8DC;
  border-radius: 5px;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #607D8B;
  font-style: normal;
}
input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #607D8B;
  font-style: normal;
}
input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #607D8B;
  font-style: normal;
}
input[disabled], input[disabled=disabled], input[readonly], input[readonly=readonly] {
  background: #ECEFF1;
}
input[disabled]::-moz-placeholder, input[disabled=disabled]::-moz-placeholder, input[readonly]::-moz-placeholder, input[readonly=readonly]::-moz-placeholder {
  color: #546E7A;
}
input[disabled]:-ms-input-placeholder, input[disabled=disabled]:-ms-input-placeholder, input[readonly]:-ms-input-placeholder, input[readonly=readonly]:-ms-input-placeholder {
  color: #546E7A;
}
input[disabled]::placeholder, input[disabled=disabled]::placeholder, input[readonly]::placeholder, input[readonly=readonly]::placeholder {
  color: #546E7A;
}

input[type=checkbox] {
  position: relative;
  height: 15px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
}

input[type=checkbox]:checked:before {
  content: "";
  position: absolute;
  top: 18%;
  left: 38%;
  display: table;
  width: 4px;
  height: 8px;
  border: 1px solid #607D8B;
  color: #37474F;
  border-top-width: 0px;
  border-left-width: 0;
  transform: rotate(45deg);
}

input[type=checkbox]:checked:after {
  border: 1px solid #3763C1;
}

input[type=checkbox]:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #90A4AE;
}

input[type=checkbox]:disabled:checked:after {
  background: #ECEFF1;
  border: 1px solid #CFD8DC;
}

input[type=checkbox].yl:checked:before {
  content: "";
  position: absolute;
  top: 18%;
  left: 40.5%;
  display: table;
  width: 4px;
  height: 8px;
  border: 1px solid #fff;
  color: #37474F;
  border-top-width: 0px;
  border-left-width: 0;
  transform: rotate(45deg);
}

input[type=checkbox].yl:checked:after {
  border: 1px solid #E7AB21;
}

input[type=checkbox].yl:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #E7AB21;
  border: 1px solid #E7AB21;
}

/*
    Sử dụng file để style cho các label 
*/
label {
  position: relative;
  display: flex;
  min-height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #607D8B;
  margin-bottom: 8px;
}

/*
    Sử dụng file để style cho các select 
*/
select {
  padding: 0 25px 0 16px;
  height: 32px;
  border: 1.25px solid #CFD8DC;
  border-radius: 5px;
  width: 100%;
  background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 10px, #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: ellipsis;
}

select:disabled {
  background: #ECEFF1;
}

/*
    Sử dụng file để style cho các textarea 
*/
textarea {
  width: 100%;
  border: 1.25px solid #CFD8DC;
  border-radius: 5px;
  height: 120px;
  padding: 16px;
}

.modal-report .modal-dialog {
  max-width: 718px;
}

.body-report::-webkit-scrollbar,
.md-body::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.body-report::-webkit-scrollbar-thumb,
.md-body::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}

.body-report::-webkit-scrollbar-track,
.md-body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.header-report {
  background: #CFD8DC;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.header-report h3 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2F44A1;
}

.close.btn-close img {
  width: 12px;
  height: 12px;
}

.modal-content.confirm {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
.modal-content.confirm .header-report {
  background: #F59E0B;
  border-radius: 8px 8px 0px 0px;
  padding: 23px 16px;
}
.modal-content.confirm .header-report h3 {
  color: #FFFFFF;
}
.modal-content.confirm .confirm-text {
  padding: 16px;
  height: 124px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.modal-content.confirm .foot-report.text-right {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
}
.modal-content.confirm .btn-cancel {
  background: #fff;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 0px;
  color: #546E7A;
  min-width: 40px;
}
.modal-content.confirm .btn-cancel img {
  display: none;
}
.modal-content.confirm .btn-confirm {
  background: #F59E0B;
  border: 1px solid #F59E0B;
  border-radius: 8px;
  height: 24px;
  width: 94px;
  padding: 14px 0;
}

.btn-pagination {
  display: inline-block;
  height: 24px;
  cursor: pointer;
  margin-left: 0px;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}
.btn-pagination span {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
  color: #C4C4C4;
  border: 1px solid transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.btn-pagination span.active {
  background: #E4F2FE;
  color: #2F44A1;
}
.btn-pagination span.active:hover {
  color: #2F44A1;
}
.btn-pagination span:hover {
  border: 1px solid #E4F2FE;
  color: #2F44A1;
}
.btn-pagination span img {
  width: 12px;
  height: 12px;
}
.btn-pagination:focus, .btn-pagination:active {
  outline-color: transparent;
}

.sidebar {
  position: fixed;
  width: 248px;
  background: #fff;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  z-index: 9;
}
.sidebar .menu-parent > li {
  position: relative;
}
.sidebar .menu-parent > li.has-dropdown > a.rotate .angle-dark, .sidebar .menu-parent > li.has-dropdown > a.rotate .angle-light {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.3s;
}
.sidebar .menu-parent > li:hover > a {
  background: rgba(97, 163, 224, 0.5019607843);
  background: linear-gradient(280.01deg, rgba(245, 139, 32, 0.27) -17.86%, rgba(255, 255, 255, 0) 54.59%);
  color: #F58A20;
  transition: all 0.3s;
}
.sidebar .menu-parent > li:hover > a .icon-dark, .sidebar .menu-parent > li:hover > a .angle-dark {
  display: none;
}
.sidebar .menu-parent > li:hover > a .icon-light, .sidebar .menu-parent > li:hover > a .angle-light {
  display: inline-block;
}
.sidebar .menu-parent > li > a {
  display: flex;
  align-items: center;
  position: relative;
  color: #135B80;
  padding: 12px 32px 12px 13px;
  transition: all 0.3s;
  min-height: 42px;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.005em;
}
.sidebar .menu-parent > li > a img {
  vertical-align: middle;
}
.sidebar .menu-parent > li > a span {
  width: 95px;
  display: block;
  white-space: nowrap;
}
.sidebar .menu-parent > li > a .icon-dark {
  display: inline-block;
  margin-right: 17px;
}
.sidebar .menu-parent > li > a .icon-light {
  display: none;
  margin-right: 17px;
}
.sidebar .menu-parent > li > a .angle-dark {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  display: block;
  transition: all 0.3s;
}
.sidebar .menu-parent > li > a .angle-light {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  display: none;
  transition: all 0.3s;
}
.sidebar .menu-parent .menuchild {
  display: block;
  width: 100%;
  background: #F5F2F0;
}
.sidebar .menu-parent .menuchild > li:hover > a {
  color: #F58A20;
  transition: all 0.3s;
  background: linear-gradient(280.01deg, rgba(245, 139, 32, 0.27) -17.86%, rgba(255, 255, 255, 0) 54.59%);
}
.sidebar .menu-parent .menuchild > li:hover > a .liststyle {
  display: none;
}
.sidebar .menu-parent .menuchild > li:hover > a .liststyle-hv {
  display: inline-block;
}
.sidebar .menu-parent .menuchild > li > a {
  display: block;
  padding: 14px 10px 14px 42px;
  position: relative;
  color: #135B80;
  transition: all 0.3s;
}
.sidebar .menu-parent .menuchild > li > a .liststyle {
  display: inline-block;
  margin-right: 6px;
  position: absolute;
  top: 21px;
  left: 22px;
}
.sidebar .menu-parent .menuchild > li > a .liststyle-hv {
  display: none;
  margin-right: 6px;
  position: absolute;
  top: 21px;
  left: 22px;
}
.sidebar .menu-parent .menuchild > li > a .liststyle-light {
  display: none;
  margin-right: 6px;
  position: absolute;
  top: 21px;
  left: 22px;
}

.header.sidebar::-webkit-scrollbar {
  width: 5px;
}

.header.sidebar::-webkit-scrollbar-thumb {
  background: #DDD9D9;
  border-radius: 10px;
  width: 5px;
}

.header.sidebar::-webkit-scrollbar-track {
  background: #B6B6B6;
  border-radius: 10px;
  width: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ECEFF1;
}
.footer-form {
  padding: 13px 0;
  width: 100%;
  background: #F4FAFF;
  text-align: right;
}
.footer > div:last-child {
  height: 32px;
  line-height: 32px;
  padding: 0 40px;
  background: #ECEFF1;
}

.session {
  display: flex;
  align-items: center;
  color: #059669;
}
.session img {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.times {
  display: flex;
  align-items: center;
  color: #1E3A8A;
  font-size: 13px;
  line-height: 12.5px;
}
.times img {
  width: 12px;
  height: 10px;
  margin-right: 6px;
}

.wrap__login {
  height: 100vh;
  background-image: linear-gradient(110.88deg, #E2E1FF 6.53%, rgba(255, 255, 255, 0) 51.96%), url(../image/image/bg-login.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.wrap__login .flex-login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap__login .flex-head {
  display: flex;
  align-items: center;
  padding-top: 56px;
}
@media only screen and (max-width: 576px) {
  .wrap__login .flex-head {
    padding-top: 32px;
    justify-content: center;
  }
}
.wrap__login .flex-head a {
  display: block;
  padding-right: 8.5px;
}
.wrap__login .flex-body {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.wrap__login .flex-body h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #546E7A;
  margin-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .wrap__login .flex-body h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.wrap__login .flex-body h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #546E7A;
  margin-bottom: 32px;
}
@media only screen and (max-width: 576px) {
  .wrap__login .flex-body h3 {
    font-size: 20px;
    margin-bottom: 26px;
  }
}
.wrap__login .field-login {
  height: 48px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 576px) {
  .wrap__login .field-login {
    height: 38px;
    margin-bottom: 24px;
  }
}
.wrap__login .field-login input {
  height: 100%;
  background: #FFFFFF;
  border: 1.5px solid #78909C;
  border-radius: 8px;
}
.wrap__login .save-password {
  display: flex;
  align-items: center;
}
.wrap__login .save-password > label {
  margin: 0 0 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #78909C;
}
.wrap__login .copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.wrap__login .copyright p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #546E7A;
}
@media only screen and (max-width: 576px) {
  .wrap__login .copyright p {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */