// ---------- Các mã màu chính đặc trưng ----------
$clr-m: #2F44A1;
$clr-m-light: #3763C1;
$clr-m-dark: #3763C1;
// ---------- Các mã màu color background ----------
$clr-bg-m: #FAFCFC;


$bg-success: #10B981;
$bg-warning: #F59E0B;
$bg-danger: #F44336;
// ---------- Các mã màu color text ----------
$clr-txt-m: #607D8B;
$clr-txt-h: #2F44A1;
// ---------- Các mã màu color border ----------
$clr-bd-m: #CFD8DC;
// ---------- Các mã màu color button ----------
$clr-btn-m: #4086E7;
$clr-btn-light: #4086E7;
$bd-btn: #4086E7;

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022

// ---------- Các mã màu color table ----------
$bg-tb-main: #ECEFF1;
$bg-thead: #E5E5E6;
$clr-bd-table: #ECEFF1;

// ---------- Các mã màu color navbar ----------
$bg-nav-main: #ECEFF1;
$clr-text-ac: #3763C1;


// ---------- Các mã màu color global ----------
$clr-white: #fff;
$clr-black: #000;
