/* 
    Sử dụng file này để link font chữ có trong dự án 
    + Note: 
        Phải transform font trước khi sử dụng
        Link font từ file main.css sang folder font để sử dụng
        Trong file reset phải sử dụng font-family chủ đạo cho dự án 
*/

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Black.eot');
    src: url('../fonts/Lexend-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Black.woff2') format('woff2'),
        url('../fonts/Lexend-Black.woff') format('woff'),
        url('../fonts/Lexend-Black.ttf') format('truetype'),
        url('../fonts/Lexend-Black.svg#Lexend-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.eot');
    src: url('../fonts/Lexend-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff'),
        url('../fonts/Lexend-Regular.ttf') format('truetype'),
        url('../fonts/Lexend-Regular.svg#Lexend-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraBold.eot');
    src: url('../fonts/Lexend-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-ExtraBold.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraBold.woff') format('woff'),
        url('../fonts/Lexend-ExtraBold.ttf') format('truetype'),
        url('../fonts/Lexend-ExtraBold.svg#Lexend-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraLight.eot');
    src: url('../fonts/Lexend-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-ExtraLight.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraLight.woff') format('woff'),
        url('../fonts/Lexend-ExtraLight.ttf') format('truetype'),
        url('../fonts/Lexend-ExtraLight.svg#Lexend-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Thin.eot');
    src: url('../fonts/Lexend-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Thin.woff2') format('woff2'),
        url('../fonts/Lexend-Thin.woff') format('woff'),
        url('../fonts/Lexend-Thin.ttf') format('truetype'),
        url('../fonts/Lexend-Thin.svg#Lexend-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-SemiBold.eot');
    src: url('../fonts/Lexend-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-SemiBold.woff2') format('woff2'),
        url('../fonts/Lexend-SemiBold.woff') format('woff'),
        url('../fonts/Lexend-SemiBold.ttf') format('truetype'),
        url('../fonts/Lexend-SemiBold.svg#Lexend-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Medium.eot');
    src: url('../fonts/Lexend-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Medium.woff2') format('woff2'),
        url('../fonts/Lexend-Medium.woff') format('woff'),
        url('../fonts/Lexend-Medium.ttf') format('truetype'),
        url('../fonts/Lexend-Medium.svg#Lexend-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Light.eot');
    src: url('../fonts/Lexend-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Light.woff2') format('woff2'),
        url('../fonts/Lexend-Light.woff') format('woff'),
        url('../fonts/Lexend-Light.ttf') format('truetype'),
        url('../fonts/Lexend-Light.svg#Lexend-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Bold.eot');
    src: url('../fonts/Lexend-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Bold.woff2') format('woff2'),
        url('../fonts/Lexend-Bold.woff') format('woff'),
        url('../fonts/Lexend-Bold.ttf') format('truetype'),
        url('../fonts/Lexend-Bold.svg#Lexend-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

