/*
    File này sử dụng để tạo các class có thể sử dụng chung 
    và được dùng đi dùng lại 
*/

.heading-primary {
    font-size: 42px;
    font-weight: 700;
    color: $clr-txt-h;
    margin-bottom: 16px;
}

.heading-secondary {
    font-size: 38px;
    font-weight: 500;
    color: $clr-txt-h;
    margin-bottom: 16px;
}

.title {
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: $clr-txt-h;
    margin: 0;
}

.title-info {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #E29000;
}

.paragraph {
    font-size: 16px;
    font-weight: 500;
    color: $clr-txt-m;
    margin-bottom: 16px;
}

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.over-flow-x {
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid #ECEFF1;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
}

.transperant {
    background: transparent !important;
}

.flex-100 {
    flex: 0 0 100% !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mr-200 {
    margin-right: 200px;
}

.mr-86 {
    margin-right: 86px;
}

.c16-gap {
    column-gap: 16px !important;
}

.c40-gap {
    column-gap: 40px !important;
}

.c64-gap {
    column-gap: 64px !important;
}

.fz-15 {
    font-size: 15px;
}

.abs-right {
    position: absolute;
    right: -12px;
    transform: translateX(100%);
}

.border-tb {
    border-bottom: 1px solid #ECEFF1;
    border-radius: 5px;
}
// Style color
.clr-ac {
    color: #059669;
}

.clr-warn {
    color: #FBBF24;
}

.clr-req {
    color: #F44336;
}

.clr-gr {
    color: #0FB159;
}

.clr-red {
    color: #E53935;
}

.clr-vio {
    color: #BB33DD;
}

.clr-blue {
    color: #00CCCC;
}

.clr-gray {
    color: #546E7A;
}

.bg-gray {
    background: #ECEFF1 !important;
}
// Style width
.mw-30 {
    min-width: 30px;
}
.mw-40{
    min-width: 40px;
}
.mw-50{
    min-width: 50px;
}
.mw-60{
    min-width: 60px;
}
.mw-70{
    min-width: 70px;
}
.mw-80{
    min-width: 80px;
}
.mw-90{
    min-width: 90px;
}
.mw-100{
    min-width: 100px;
}
.mw-110{
    min-width: 110px;
}
.mw-120{
    min-width: 120px;
}
.mw-130{
    min-width: 130px;
}
.mw-140{
    min-width: 140px;
}
.mw-150{
    min-width: 150px;
}
.mw-160{
    min-width: 160px;
}
.mw-170{
    min-width: 170px;
}
.mw-180{
    min-width: 180px;
}
.mw-190{
    min-width: 190px;
}
.mw-200{
    min-width: 200px;
}
.mw-210 {
    min-width: 210px;
}
.mw-220{
    min-width: 220px;
}
.mw-230{
    min-width: 230px;
}
.mw-240{
    min-width: 240px;
}
.mw-250{
    min-width: 250px;
}
.mw-260{
    min-width: 260px;
}
.mw-270{
    min-width: 270px;
}
.mw-280{
    min-width: 280px;
}
.mw-290{
    min-width: 290px;
}
.mw-300{
    min-width: 300px;
}
.mw-310{
    min-width: 310px;
}
.mw-320{
    min-width: 320px;
}
.mw-330{
    min-width: 330px;
}
.mw-340{
    min-width: 340px;
}
.mw-350{
    min-width: 350px;
}
// End