*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* 
    Sử dụng để thanh cuộn mượt mà hơn không có cũng được
    Sử dụng line-height 1.4 để sử dụng cho web dùng chữ tiếng việt
*/

html {
    scroll-behavior: smooth;
    line-height: 1.4;
}

body {
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    background: $clr-bg-m;
    color: $clr-txt-m;
}

a,
a:hover {
    text-decoration: none;
}

img {
    border-style: none;
}

p,
label {
    margin: 0;
}

ul,
ol,
li {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-type: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

textarea {
    overflow: auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input,
textarea,
button,
button:active,
button:focus,
select,
select:focus {
    outline-color: #40D2F2;
}

input[disabled],
input[disabled="disabled"],
input[readonly],
input[readonly="readonly"] {
    background: #ECEFF1;
}

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
