/* Style combobox  */
.ant-select {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #607D8B !important;
}

.ant-select-dropdown {
    padding: 0px;
}

.ant-select-item {
    padding: 0 !important;
    line-height: 32px !important;
}

.ant-table-wrapper {
    border-radius: 8px 8px 0 0 !important;
}

.ant-select.item-search.sl.bdr-bottom .ant-select-clear {
    background: #FAFCFC;
    right: 5px;
    margin-top: -8px;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected>.ant-select-item-option-content {
    color: #fff !important;
    background: #54A4F8;
}

.ant-select-item-option-content {
    color: #78909C;
    padding-left: 12px;
}

.search__option-box.bdr-bottom .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 100%;
}

.search__option-box.bdr-bottom .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 0;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: none !important;
}

.ant-select-selection-overflow {
    flex-wrap: nowrap;
    overflow: hidden;
}

.ant-select-selection-item {
    line-height: 40px !important;
}

.ant-select-selector {
    height: 40px !important;
}

.search__option-box.bdr-bottom .ant-select-multiple.ant-select-show-arrow .ant-select-selector,
.ant-select-multiple.ant-select-allow-clear .ant-select-selector::-webkit-scrollbar {
    display: none;
}

.search__option-box.bdr-bottom .ant-select-multiple .ant-select-selection-placeholder {
    left: 0;
    height: 40px;
    line-height: 40px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 100%;
}

.ant-select-selector {
    width: 100%;
}

.ant-select-arrow {
    color: #fff;
}

.ant-select.item-search.sl.bdr-bottom:after {
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -6px;
    box-shadow: -1px 0 14px 0px #FAFCFC;
}

.ant-select-selection-overflow-item>.ant-select-selection-item {
    background: #EFF6FF;
    border-radius: 999px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    border: none;
    line-height: 24px !important;
}

.ant-select-multiple .ant-select-selection-item-remove>.anticon {
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 5px;
    padding: 1px;
    color: #000;
    font-weight: 900;
    background: #E5E7EB;
}

.search__option-box.bdr-bottom input {
    padding: 0;
    border-bottom: 1px solid #d9d9d9;
    background: #FAFCFC;
}

.search__option-box.bdr-bottom {
    height: 40px;
}

.ant-select.item-search.sl.bdr-bottom.ant-select-single .ant-select-selector {
    padding: 0 !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

.ant-select.item-search.sl.bdr-bottom.ant-select-multiple .ant-select-selector {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

.ant-select.item-search.sl.bdr-bottom .ant-select-selection-item {
    background: #FAFCFC;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search {
    background: #f5f5f5 !important;
}

.ant-form-item-control-input-content .ant-select-selector .ant-select-selection-search {
    background: url(../../image/icon/ic-arr-down2.svg) no-repeat center right;
    appearance: none;
    text-overflow: ellipsis;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #FAFCFC;
    line-height: 40px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    line-height: 38px !important;
}

/* Custom style table */
.ant-table table {
    background: #fff;
}

.ant-table-wrapper {
    border: 1px solid #CFD8DC;
}

.ant-table-cell-scrollbar:not([rowspan]) {
    box-shadow: none !important;
}

.ant-table-cell:nth-last-child(2)::before {
    display: none !important;
}

.ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

/* Custom modal ant */
.ant-modal {
    max-width: 718px !important;
    width: 100% !important;
}

.ant-tabs-nav {
    margin-bottom: 0 !important;
}

.ant-modal-content {
    border-radius: 10px;
}

.ant-modal-body {
    padding: 0;
}

.ant-modal-header {
    background: #CFD8DC;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
}

.ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
    background: #FBFAFF;
    padding: 0 32px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #3763C1;
}

.ant-tabs-ink-bar {
    background: #2F44A1;
}

.cs-ant-tabpane {
    padding: 24px 32px 0;
}

.ant-modal-title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2F44A1;
}

.ant-modal-close {
    border: none;
    background: transparent;
    padding: 0;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: none;
    height: 54px;
}

.ant-modal-close:focus,
.ant-modal-close:focus-visible {
    outline: none;
}


.ant-modal-close-x {
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: auto;
    height: auto;
    margin-right: 25px;
    transition: all .3s;
}

.ant-modal-close-x:hover {
    opacity: 1;
}

.ant-form-item > .ant-form-item-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.ant-form-item-label {
    flex: 1 1 20% !important;
    text-align: left !important;
}

.ant-form-item-label>label {
    margin-bottom: 0 !important;
}

.ant-form-horizontal .ant-form-item-control {
    flex: 1 1 80% !important;
}

.ant-input {
    width: 100%;
    height: 40px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #111827;
}

.ant-footer {
    margin: 0 -32px;
    display: flex;
    justify-content: flex-end;
}

.ant-select.ant-select-in-form-item {
    max-width: 100%;
}

.ant-select.ant-select-in-form-item .ant-select-selector .ant-select-selection-item {
    color: #111827;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

/* Style ant checkbox */

.ant-checkbox-checked::after {
    border: none;
}

.ant-checkbox-inner {
    position: absolute !important;
    border-radius: 5px;
    border: 1px solid #3763C1;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: #fff;
    border: 1px solid #3763C1;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    content: "";
    position: absolute;
    top: 18%;
    left: 38.5%;
    display: table;
    width: 4px;
    height: 8px;
    border: 1px solid #1D2029;
    color: #37474F;
    border-top-width: 0px;
    border-left-width: 0;
    transform: rotate(45deg);
}
/* End */


/* Custom popup notification ant */
.ant-notification-notice {
    margin-bottom: 20px !important;
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 323px;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0;
    position: relative;
    min-height: 50px;
    color: #444;
    z-index: 9999999999 !important;
    align-items: center;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
    margin: 5px 0 0px 48px;
}

.ant-notification-notice-description {
    font-size: 13px !important;
}

.anticon.ant-notification-notice-icon-error svg,
.anticon.ant-notification-notice-icon-success svg,
.ant-notification-notice-error > .ant-notification-notice-close svg,
.ant-notification-notice-success > .ant-notification-notice-close svg {
    display: none;
}

/* error */
.ant-notification-notice.ant-notification-notice-error {
    color: #fff;
    background: #F44336;
    border-radius: 8px;
}

.anticon.ant-notification-notice-icon-error {
    background: url(../../image/icon/ic_infomation.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 32px;
    width: 32px;
    margin: 0;
    border-radius: 50%;
}

.ant-notification-notice-error > .ant-notification-notice-close {
    background: url(../../image/icon/ic_cancel_danger.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    height: 32px;
    width: 32px;
    margin: 0;
    border-radius: 50%;
}

/* success */
.ant-notification-notice.ant-notification-notice-success {
    color: #fff;
    background: #10B981;
    border-radius: 8px;
}

.anticon.ant-notification-notice-icon-success {
    background: url("../../image/icon/ic_success.svg") no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 32px;
    width: 32px;
    margin: 0;
    border-radius: 50%;
}

.ant-notification-notice-success > .ant-notification-notice-close {
    background: url(../../image/icon/ic_cancel_success.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    height: 32px;
    width: 32px;
    margin: 0;
    border-radius: 50%;
}

/* Custom modal confirm */
.cs-ant-modal__confirm_popup {
    max-width: 320px !important;
    width: 100% !important;
}

.cs-ant-modal__confirm_popup .ant-modal-header {
    background: #F59E0B !important;
    height: 68px;
}

.cs-ant-modal__confirm_popup .ant-modal-body {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #607D8B;
    min-height: 138px;
    height: 100% !important;
}

.cs-ant-modal__confirm_popup .ant-modal-footer {
    border: none !important;
}

.cs-ant-modal__confirm_popup .ant-modal-footer .btn-cancel {
    background: #fff;
    border: none !important;
    color: #546E7A;
    min-width: 26px;
}

.cs-ant-modal__confirm_popup .ant-modal-footer .ant-btn.ant-btn-primary.btn-confirm { 
    background: #F59E0B;
    border: 1px solid #F59E0B;  
    border-radius: 8px;
    padding: 0 10px;
}

.cs-ant-modal__confirm_popup .ant-modal-footer .ant-btn.ant-btn-primary.btn-confirm img{ 
    margin: 0px 4px 1.5px 0;
}


.cs-ant-modal__confirm_popup .ant-modal-footer .btn-cancel img {
    display: none;
}

.cs-ant-modal__confirm_popup .ant-modal-title {
    color: #fff !important;
}

.cs-ant-modal__confirm_popup .ant-modal-close .ant-modal-close-x span {
    display: none;
}

.cs-ant-modal__confirm_popup .ant-modal-close {
    height: 68px !important;
}

.cs-ant-modal__confirm_popup .ant-modal-close .ant-modal-close-x {
    background: url(../../image/icon/ic_cancel_confirm.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    opacity: 1;
}
/* end */

/* Style sort */
.ant-table-column-sorter {
    display: flex;
    align-items: center;
}

.ant-table-column-sorter-inner svg {
    display: none;
}

.ant-table-column-sorters, .ant-table-column-title {
    justify-content: unset;
    flex: unset;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-up {
    background: url(../../image/icon/ic-chevron-down.svg) no-repeat center center;
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-down {
    background: url(../../image/icon/ic-chevron-down.svg) no-repeat center center;
    width: 10px;
    height: 10px;
    margin: 0 0 2px 0;
    display: none;
    z-index: 2;
    position: absolute
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-up.active {
    transform: rotate(180deg);
    transition: all .3s;
    filter: invert(58%) sepia(60%) saturate(5947%) hue-rotate(165deg) brightness(99%) contrast(101%);
    display: block;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-down.active {
    transition: all .3s;
    filter: invert(58%) sepia(60%) saturate(5947%) hue-rotate(165deg) brightness(99%) contrast(101%);
    display: block;
}

.ant-message-custom-content.ant-message-error {
    display: flex;
    align-items: center;
}
.ant-message{
    z-index: 5000;
}
.cs-ant-drawer{
    z-index: 1090;
}
.ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left{
    z-index: 2;
}