.alert[data-notify="container"] {
    margin-bottom: 20px !important; 
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 323px;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px 0;
    padding-left: 48px;
    position: relative;
    min-height: 50px;
    color: #444;
    z-index: 9999999999 !important;
    align-items: center;
}

@media (max-width: 567px) {
    .alert[data-notify="container"] {
        width: 250px;
        padding-left: 60px;
    }
}


.alert.alert-info {
    color: #2874A6;
}

.alert.alert-success {
    color: #fff;
}

.alert.alert-warning {
    color: #fff;
    background: #F59E0B;
    border-radius: 8px;
}

.alert.alert-danger {
    color: #fff;
    background: #F44336;
    border-radius: 8px;
}

.alert {
    box-shadow: none;
}

.alert button[data-notify="dismiss"] span {
    display: none;

}

/*font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";*/
/* .alert button[data-notify="dismiss"]:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    color: #FBCDCD;
} */

.alert button[data-notify="dismiss"] span {
    display: none;
}

.alert.alert-error {
    background: #FAEFEF;
    border: 2px solid #F50000;
}

.alert.alert-success {
    background: #10B981;
    border-radius: 8px;
}

.alert.alert-error span[data-notify="message"] {
    /*color: #e61414;*/
    color: #F50000;
    font-weight: 700;
}

.alert.alert-success span[data-notify="message"] {
    color: #fff;
    font-weight: 400;
}

.alert.alert-success span[data-notify="message"] br, .alert.alert-warning span[data-notify="message"] br,
.alert.alert-danger span[data-notify="message"] br {
    display: none !important;
}

/* .alert.alert-success button[data-notify="dismiss"]:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    color: #B9EBC4;
} */

.alert [data-notify="title"],
.alert [data-notify="message"] {
    display: block;
}

.alert [data-notify="title"] {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.alert [data-notify="title"] strong {
    font-weight: 600;
}

.alert [data-notify="message"] {
    color: #FFF;
}

.alert-error .alert [data-notify="message"] {
    letter-spacing: 0.03em;
    color: #F50000;
    font-weight: 700;
}

.alert [data-notify="dismiss"] {
    cursor: pointer;
    border: none;
    outline: none;
    top: 50% !important;
    transform: translateY(-50%);
    opacity: 1;
    width: 20px;
    height: 20px;
}

.alert.alert-success > [data-notify="dismiss"] {
    background: url(../../image/icon/ic_cancel_success.svg) no-repeat center center;
}

.alert.alert-warning > [data-notify="dismiss"] {
    background: url(../../image/icon/ic_cancel_warn.svg) no-repeat center center;
}

.alert.alert-danger > [data-notify="dismiss"] {
    background: url(../../image/icon/ic_cancel_danger.svg) no-repeat center center;
}


.alert [data-notify="dismiss"] span {
    position: relative;
    /*bottom: 3px;*/
    color: #444;
    font-weight: bold;
}

.alert.alert-info [data-notify="dismiss"] {
    color: #2874A6;
    border-color: #2874A6;
}

.alert.alert-success [data-notify="dismiss"] {
    color: transparent;
}

.alert.alert-warning [data-notify="dismiss"] {
    color: #D68910;
    border-color: #D68910;
}

.alert.alert-error [data-notify="dismiss"] {
    color: #CB4335;
    border-color: #CB4335;
}

.alert [data-notify="icon"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 32px;
    width: 32px;
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.alert.alert-success [data-notify="icon"] {
    background: url("../../image/icon/ic_success.svg")
}

.alert.alert-warning [data-notify="icon"] {
    background: url("../../image/icon/ic_warning.svg")
}

.alert.alert.alert-danger [data-notify="icon"] {
    background: url("../../image/icon/ic_infomation.svg");
}

/* ERROR */
.alert [data-notify="icon"].icon-error {
    /*background-color: #e61414;*/
    background: url('../../version_2/img/alert-error.svg') no-repeat center center;
    background-size: cover;
}

.alert [data-notify="icon"].icon-success {
    /*background-color: #e61414;*/
    background: url('../../version_2/img/alert-success.svg') no-repeat center center;
    background-size: cover;
}


.alert [data-notify="icon"].icon-error::before,
.alert [data-notify="icon"].icon-error::after {
    content: "";
    color: #fff;
    position: relative;
    height: 3px;
    width: 20px;
    background-color: #fff;
    display: block;
    top: 17px;
    border-radius: 2px;
}

.alert [data-notify="icon"].icon-error::before {
    transform: rotate(45deg);
    left: 8px;
}

.alert [data-notify="icon"].icon-error::after {
    transform: rotate(-45deg);
    right: -8px;
    top: 14px;
}

/* INFO */
.alert [data-notify="icon"].icon-info {
    background-color: #2874A6;
}

.alert [data-notify="icon"].icon-info::before {
    content: "i";
    font-size: 20px;
    color: #fff;
    position: relative;
    left: 16px;
    top: 7px;
}


/* WARNING */
.alert [data-notify="icon"].icon-warning {
    background-color: #D68910;
}

.alert [data-notify="icon"].icon-warning::before {
    content: "!";
    font-size: 20px;
    color: #fff;
    position: relative;
    left: 16px;
    top: 7px;
}


/* SUCCESS */

.alert [data-notify="icon"].icon-success {
    background-color: #239B56;
}

.alert [data-notify="icon"].icon-success::before,
.alert [data-notify="icon"].icon-success::after {
    content: "";
    color: #fff;
    position: relative;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
}

.alert [data-notify="icon"].icon-success::before {
    width: 8px;
    top: 20px;
    transform: rotate(45deg);
    left: 9px;
}

.alert [data-notify="icon"].icon-success::after {
    width: 17px;
    top: 14px;
    transform: rotate(-45deg);
    left: 12px;
}