.block-dashboard {
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 16px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.title-dashboard {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    >span {
        margin-right: 24px;
        font-weight: bold;
        font-size: 18px;
        line-height: 132%;
        color: #A73733;
    }
}

.nav-chart {
    border: none;
    .nav-item {
        padding: 6px 16px;
        font-size: 14px;
        line-height: 16px;
        color: #6E6B7B;
        margin-right: 8px;
        border-radius: 4px;
        border: none;
        &:hover {
            background: #f5f5f5;
        }
        &.active {
            background: #52B850;
            color: #fff;
        }
    }
}

.tab-chart {
    padding: 0 50px;
}

// Demo navs 
.tab-popup {
    border-bottom: 0;
    margin-bottom: 18px;
    .nav-item {
        margin-bottom: 0;
        margin-right: 16px;
        .nav-link {
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #6E6B7B;
            border: none;
            border-bottom: 2px solid transparent;
            padding: 4px 0;
            &.active {
                color: #A73733;
                border-bottom: 2px solid #A73733;
                &:hover {
                    border-bottom: 2px solid #A73733;
                }
            }
            &:hover {
                color: #A73733;
                border: none;
            }
        }
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.nav-add {
    background: #F8F8FF;
    padding: 0 32px;
    border-top: 1px solid #ECEFF1;
    border-bottom: 1px solid #ECEFF1;
    
    .nav-item {
        margin-bottom: 0;
        margin-right: 48px;
        .nav-link {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #607D8B;
            border: none;
            border-radius: 0;
            background: none;
            padding: 12px 0px;
            transition: all .1s;
            &.active {
                color: #3763C1;
                border-bottom: 2px solid #2F44A1;

                &:hover {
                    border-bottom: 2px solid #2F44A1;
                }
            }
            &:hover {
                color: #3763C1;
                border-bottom: 2px solid #2F44A1;
            }
        }
    }
}

.tab-wrap {
    padding: 24px 16px;
}

.nav {
    &-order {
        .nav-link {
            color: #fff;
            padding: 7px 28px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            background: #CFD8DC;
            border-radius: 0;
            position: relative;
            z-index: 1;
        }

        .nav-link.active.buy {
            background: #0FB159;
            padding: 7px 50px 7px 34px;

            &:before {
                content: "";
                background: #CFD8DC;
                position: absolute;
                top: 0;
                left: 0;
                right: -1px;
                bottom: 0;
                clip-path: polygon(75% 0, 100% -20%, 100% 100%);
                z-index: -1;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 13px;
                background: #fff;
                width: 3px;
                height: 100%;
                transform: skewX(38deg);
            }
        }

        .nav-link.active.sell {
            background: #CF422F;
            padding: 7px 30px 7px 60px;

            &:before {
                content: "";
                background: #CFD8DC;
                position: absolute;
                top: 0;
                left: -1px;
                right: 0;
                bottom: 0;
                clip-path: polygon(1% 0%, 0% 100%, 35% 150%);
                z-index: -1;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 13px;
                background: #fff;
                width: 3px;
                height: 100%;
                transform: skewX(38deg);
            }
        }

        &+ div {
            font-size: 12px;
            div:first-child {
                margin-right: 25px;
            }

            a {
                display: flex;
                width: 13px;
                height: 13px;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                margin-bottom: 2px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}