// Button pagination
.btn-pagination {
    display: inline-block;
    height: 24px;
    cursor: pointer;
    margin-left: 0px;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    box-shadow: none;
    span {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-radius: 5px;
        color: #C4C4C4;
        border: 1px solid transparent;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        &.active {
            background: #E4F2FE;
            color: $clr-m;
            &:hover {
                color: $clr-m;
            }
        }
        &:hover {
            border: 1px solid #E4F2FE;
            color: $clr-m;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }
    &:focus,
    &:active {
        outline-color: transparent;
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
