.modal-report .modal-dialog {
    max-width: 718px;
}

.body-report::-webkit-scrollbar,
.md-body::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.body-report::-webkit-scrollbar-thumb,
.md-body::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}

.body-report::-webkit-scrollbar-track,
.md-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
}

.header-report {
    background: #CFD8DC;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-report h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2F44A1;
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.close.btn-close {
    img {
        width: 12px;
        height: 12px;
    }
}

.modal-content.confirm {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;

    .header-report {
        background: #F59E0B;
        border-radius: 8px 8px 0px 0px;
        padding: 23px 16px;
        h3 {
            color: #FFFFFF;
        }
    }

    .confirm-text {
        padding: 16px;
        height: 124px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .foot-report.text-right {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 8px;
    }

    .btn-cancel {
        background: #fff;
        border: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 0px;
        color: #546E7A;
        min-width: 40px;
        
        img {
            display: none;
        }
    }

    .btn-confirm {
        background: #F59E0B;
        border: 1px solid #F59E0B;
        border-radius: 8px;
        height: 24px;
        width: 94px;
        padding: 14px 0;
    }
}
