table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;

    thead {
        tr {
            th {
                background: #ECEFF1;
                padding: 13.5px 10px;
                font-weight: 600 !important;
                line-height: 16px;
                color: #607D8B;
                white-space: nowrap;
                line-height: 12px;
            }
        }
    }
    tbody {
        tr {
            td {
                border: 1px solid $clr-bd-table;
                color: #455A64;
                padding: 8px 10px;
                border-right: 0;
                border-left: 0;
                white-space: nowrap;
                max-width: 257px;
                font-weight: 400;
                text-overflow: ellipsis;
                display: -wwebkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                border-bottom: 0;
            }
        }
    }
}

//  DEMO table có thể sử dụng
@mixin tbl--first {
    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            tr {
                th {
                    background: #6B9BC7;
                    border: 1px solid $clr-bd-table;
                    padding: 12px 10px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fff;
                    white-space: nowrap;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: 1px solid $clr-bd-table;
                    color: $clr-txt-m;
                    padding: 8px 10px;
                }
                &:nth-child(even) {
                    background: #E9EEF2 !important;
                }
            }
        }
    }
}

.tbl-record {
    @include tbl--first;
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022

.show-record select {
    width: 42px;
    height: 24px;
    padding: 0 5px 0 0px;
    padding-left: 6px;
    border: 1px solid #CFD8DC;
    border-radius: 6px;
    appearance: none;
    -moz-appearance: none;
    margin: 0 4px;
    background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 4px;
}

.refresh-record {
    display: flex;
    align-items: center;

    span {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        margin: 0 8px;
    }

    select {
        height: 24px;
        padding: 0 5px 0 4px;
        min-width: 56px;
        background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 8px;
    }
}

.number-record {
    margin-right: 24px;
}