/*
    Sử dụng file để style cho các button 
*/

@mixin btn-0 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 40px;
    background-image: linear-gradient(to right, $clr-m, $clr-m-light, $clr-m-dark);
    background-size: 200% 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}

button {
    @include btn-0;
    &:hover {
        background-position: 100% 0;
        transition: all 0.3s ease-in-out;
    }
    img {
        width: 20px;
        height: 20px;
    }
}

// Button Search
.btn-search {
    background: #4086E7;
    border: 1px solid #4086E7;
    border-radius: 8px;
    width: 117px;
    font-size: 14px;
    box-shadow: none;
    margin: 0;
    
    img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
}

// Button Render 
@mixin btn--render {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: $clr-txt-m;
    font-size: 14px;
    box-shadow: none;
}

.render {
    @include btn--render;
    height: 23px;
    img {
        margin-left: 15px;
    }
}

// Button Login
.btn-login {
    display: block;
    width: 100%;
    height: 48px;
    margin: 32px 0 0 0;
    border: none;
    color: #fff;
    background: #4294F6;
    border-radius: 8px;

    @include mobile {
        margin: 22px 0 0 0;
    }

    &:hover {
        background: #3c87e4;
    }
}

// Button Utilities
.btn-utilities {
    background: #BB7A6C;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    margin: 0 4px 0 0px;
    color: #fff;
    min-width: 74px;
    height: 25px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    box-shadow: none;
    &:hover {
        background: #c38e82;
        transition: all 0.2s ease-in-out;
    }
}

// Button Function
.btn-function {
    margin-right: 7px;
    display: inline-block;
    position: relative;
    text-align: center;

    &.btn-spacing > div {
        width: 16px;
    }

    &:last-child {
        margin-right: 0;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        border-right: 5px solid transparent;
        border-top: 5px solid #efefef;
        border-left: 5px solid transparent;
        display: none;
    }

    &:focus-visible {
        outline-color: #a6e7a5;
    }

    &:hover:after {
        display: block;
    }

    .imgbefore-hv {
        vertical-align: middle;
        width: 16px;
        height: 15px;
        position: relative;
        z-index: 10;
    }

    span {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #efefef;
            width: 27px;
            height: 27px;
            border-radius: 5px;
            display: none;
        }
    }

    &:hover {
        span {
            i {
                background: #A73733;
                font-size: 13px;
                padding-top: 2px;
                z-index: 9;
                color: #fff;
            }

            &:after {
                display: block;
            }
        }
    }

    .name-function-fix {
        color: #303030;
        background: #efefef;
        padding: 5px 10px;
        border-radius: 3px;
        position: fixed;
        transform: translate(-35%, calc(-100% - 12px));
        white-space: nowrap;
        pointer-events: none;
        top: -1000px;
        left: -1000px;
        z-index: 12;
    }
}

// Button close
.btn-close {
    border: none;
    background: transparent;
    padding: 0;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: none;
    height: 16px;
    opacity: 1;
    img {
        height: 16px;
    }
    &:focus,
    &:focus-visible {
        outline: transparent;
        opacity: 1 !important;
    }
}

// Button save 
.btn-save {
    min-width: 112px;
    img {
        margin-right: 9px;
    }
}

// Button cancle
.btn-cancel {
    border: none;
    min-width: 81px;
    height: 40px;
    color: #4086E7;
    margin-right: 8px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    background: #E4F2FE;
    border: 1px solid #4086E7;
    border-radius: 8px;
    img {
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.btn-confirm {
    background: #4086E7;
    color: #fff;
    width: 118px;
    border-radius: 8px;
    height: 40px;
    display: flex;
    
    img {
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}
.btn-extend {
    background: none;
    color: #607D8B;
    box-shadow: none;
    font-size: 13px;
    height: 24px;
    margin-top: 4px;
    transition: all .3s linear;
    white-space: nowrap;

    i, svg {
       font-size: 12px;
       margin: 0 8px 0 0px;
       transition: all 0.3s !important;
    }
}

.btn-condition {
    min-width: 80px;
    background: #E4F2FE;
    border: 1px solid #4294F6;
    border-radius: 8px;
    box-shadow: none;
    color: $clr-m;
    font-size: 13px;
    padding: 12px 8px;
    height: 40px;
    white-space: nowrap;

    img {
        width: 10px;
        height: 10px;
        margin: 0px 6px 0;
    }
}

.btn-generate {
    width: 110px;
    height: 40px;
    background: none;
    box-shadow: none;
    color: #607D8B;
    padding: 14px 16px;
    border: 1px solid #4086E7;
    border-radius: 8px;
    font-size: 14px;
    margin: 0;
    background: #fff;

    img {
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}

.btn-buy {
    width: 160px;
    color: #fff;
    background: #4FD08A;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none;
}

.btn-sell {
    width: 160px;
    color: #fff;
    background: #F44336;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none;
}

.btn-refresh {
    width: 40px;
    height: 40px;
    background: #E4F2FE;
    border: 1px solid #4294F6;
    border-radius: 8px;


    img {
        width: 12px;
        height: 16px;
    }
}

.btn-upload {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 98px;
    height: 23px;
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 15px;
    box-shadow: 0px 0px 8px rgba(0, 108, 183, 0.1);
    border-radius: 4px;
}

.btn-border {
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    padding: 5px 8px;
    margin-left: 10px;

    img {
        width: 16px;
        height: 14px;
    }
}

.btn-check {
    padding: 13px 14px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    background: #10B981;

    img {
        width: 16px;
        height: 14px;
        margin-right: 6px;
    }
}

.btn-refuse {
    padding: 13px 14px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    background: #EF5350;

    img {
        width: 16px;
        height: 14px;
        margin-right: 6px;
    }
}

.btn-destroy {
    padding: 13px 14px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    background: #B0BEC5;

    img {
        width: 16px;
        height: 14px;
        margin-right: 6px;
    }
}

.btn-group {
    background: #FAFCFC;
    font-size: 13px;
    line-height: 16px;
    color: #546E7A;
    margin: 0;
    width: 100%;
    height: 28px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #E6E8E8;
    
    img {
        width: 16px;
        height: 16px;
        margin-top: 1.6px;
    }
}

.btn-import {
    min-width: 120px;
    height: 28px;
    background: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #607D8B;
    padding: 6px 10px;
    border: 1px solid #4086E7;
    border-radius: 4px;
    white-space: nowrap;

    img {
        width: 14px;
        height: 14px;
        margin-right: 6px;

    }
}

.btn-down {
    height: 28px;
    background: transparent;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #607D8B;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    img {
        width: 14px;
        height: 14px;
        margin-right: 6px;

    }
}