/* Style combobox */
.ant-select {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #607d8b !important;
}
.ant-modal-wrap {
  z-index: 1070;
}
.ant-picker-dropdown,
.ant-select-dropdown {
  z-index: 1100;
}
.ant-modal-mask {
  z-index: 1060;
}

.ant-select-dropdown {
  padding: 0px;
}

.ant-select-item {
  padding: 0 !important;
  line-height: 32px !important;
}
.cs-ant-table .ant-table-thead th.ant-table-column-has-sorters {
  transition: none !important;
}
.ant-table-wrapper {
  border-radius: 8px 8px 0 0 !important;
}

.ant-select.item-search.sl.bdr-bottom .ant-select-clear {
  background: #fafcfc;
  right: 5px;
  margin-top: -8px;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected
  > .ant-select-item-option-content {
  color: #fff !important;
  background: #54a4f8;
}

.ant-select-item-option-content {
  color: #78909c;
  padding-left: 12px;
}

.search__option-box.bdr-bottom
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

.search__option-box.bdr-bottom
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-radius: 0;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none !important;
}

.ant-select-selection-overflow {
  flex-wrap: nowrap;
  overflow: hidden;
}

.cs-ant-select.ant-select .ant-select-selection-item {
  line-height: 40px !important;
}

.cs-ant-select.ant-select .ant-select-selector {
  height: 40px !important;
}

.search__option-box.bdr-bottom
  .ant-select-multiple.ant-select-show-arrow
  .ant-select-selector,
.ant-select-multiple.ant-select-allow-clear
  .ant-select-selector::-webkit-scrollbar {
  display: none;
}

.search__option-box.bdr-bottom
  .ant-select-multiple
  .ant-select-selection-placeholder {
  left: 0;
  height: 40px;
  line-height: 40px;
}

.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

.ant-select-selector {
  width: 100%;
}

.ant-select-arrow {
  color: transparent;
}

.ant-select-multiple
  .ant-select-selection-overflow-item
  > .ant-select-selection-item {
  background: #eff6ff !important;
  border-radius: 999px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  border: none;
  line-height: 24px !important;
}

.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 5px;
  padding: 1px;
  color: #000;
  font-weight: 900;
  background: #e5e7eb;
}

.search__option-box.bdr-bottom input {
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
  background: #fafcfc;
}

.search__option-box.bdr-bottom {
  height: 40px;
}

.ant-select.item-search.sl.bdr-bottom.ant-select-single .ant-select-selector {
  padding: 0 !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.ant-select.item-search.sl.bdr-bottom.ant-select-multiple .ant-select-selector {
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
}

.ant-select.item-search.sl.bdr-bottom .ant-select-selection-item {
  background: #fafcfc;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search {
  background: #eceff1 !important;
}

.ant-form-item-control-input-content
  .ant-select-selector
  .ant-select-selection-search {
  background: url(../../image/icon/ic-arr-down2.svg) no-repeat center right 10px;
  appearance: none;
  text-overflow: ellipsis;
  width: 100%;
  right: 0;
  left: 0;
}

.ant-select:not(.ant-select-customize-input).item-search.sl.bdr-bottom
  .ant-select-selector {
  background: #fafcfc;
  line-height: 40px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  line-height: 38px !important;
}

/* Custom style select multiple */
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  flex-direction: row-reverse;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #54a4f8;
}

span.anticon.anticon-check {
  width: 16px;
  height: 16px;
  border: 1px solid #90a4ae;
  border-radius: 4px;
  background: #fff;
  color: #000;
  margin-left: 8px;
}

span.anticon.anticon-check svg {
  width: 8px;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #d9d9d9 !important;
}

.ant-select.bdr-bottom.ant-select-multiple.ant-select-show-search.item-search.sl:after {
  height: 93% !important;
  background: url(../../image/icon/ic-arr-down2.svg) no-repeat center right,
    #fafcfc;
  right: -10px;
}

/* Custom style table */
.ant-table table {
  background: #fff;
}

.ant-table-wrapper {
  border: 1px solid #cfd8dc;
}

.ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none !important;
}

.ant-table-cell:nth-last-child(2)::before {
  display: none !important;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.ant-table-wrapper.over-flow-x.table-auto-width {
  border: 1px solid #cfd8dc;
  border-bottom: 0;
}

/* Custom modal ant */
.ant-modal {
  max-width: 718px !important;
  width: 100% !important;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-modal-content {
  border-radius: 10px;

}

.ant-modal-body {
  padding: 0;
  max-height: calc(100vh - 286px);
  overflow-y: auto;
}

.ant-modal-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  background: #f4faff9c;
  min-height: 72px;
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(5px);
}

.ant-modal-header {
  background: #cfd8dc;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px 10px 0px 0px;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  background: #fbfaff;
  padding: 0 32px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3763c1;
}

.ant-tabs-ink-bar {
  background: #2f44a1;
}

.cs-ant-tabpane {
  padding: 24px 32px 0;
}

.ant-modal-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #2f44a1;
}

.ant-modal-close {
  border: none;
  background: transparent;
  padding: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: none;
  height: 54px;
}

.ant-modal-close-x svg {
  display: none;
}

.ant-modal-close:focus,
.ant-modal-close:focus-visible {
  outline: none;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-modal-close-x {
  color: #000;
  text-shadow: 0 1px 0 #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: auto;
  height: auto;
  margin-right: 25px;
  transition: all 0.3s;
}

.ant-modal-close-x > span {
  background: url(../../image/icon/ic-close.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.ant-form-item > .ant-form-item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cs-ant-formitem .ant-form-item-label {
  flex: 1 1 20% !important;
  text-align: left !important;
}

.ant-form-item-label > label {
  font-size: 13px;
}

.ant-form-item-control-input-content textarea {
  min-height: 96px !important;
  height: 100% !important;
}

.ant-form-item-label > label {
  margin-bottom: 0 !important;
}

.cs-ant-formitem .ant-form-item-control {
  flex: 1 1 80% !important;
}
.cs-ant-formitem__checkbox,
.cs-ant-formitem__checkbox > .ant-form-item-row {
  margin-bottom: 0;
}
.cs-ant-input.ant-input-number {
  border: none;
}
.cs-ant-input.ant-input-number-lg {
  width: 100%;
}
.cs-ant-input .ant-input-number-handler-wrap {
  border-radius: 6px;
}
.ant-input-number-lg input:hover {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}
.ant-input-number:focus,
.ant-input-number-focused {
  border: none;
  box-shadow: none;
}

.ant-input {
  width: 100%;
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #111827;
}

.ant-input[disabled] {
  background: #eceff1 !important;
  color: #111827;
}

.ant-footer {
  margin: 0 -32px;
  display: flex;
  justify-content: flex-end;
}

.ant-select.ant-select-in-form-item {
  max-width: 100%;
}

.ant-select.ant-select-in-form-item
  .ant-select-selector
  .ant-select-selection-item,
.cs-ant-picker .ant-picker-input input,
.ant-input-number-input {
  color: #111827 !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 16px;
}

/* Style ant checkbox */

.ant-checkbox-checked::after {
  border: none;
}

.ant-checkbox-inner {
  position: absolute !important;
  border-radius: 5px;
  border: 1px solid #3763c1;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background: #fff;
  border: 1px solid #3763c1;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  display: table;
  width: 4px;
  height: 8px;
  border: 1px solid #1d2029;
  color: #37474f;
  border-top-width: 0px;
  border-left-width: 0;
  transform: rotate(45deg);
}
/* End */

/* Custom popup notification ant */
.ant-notification-notice {
  margin-bottom: 20px !important;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 323px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0;
  position: relative;
  min-height: 50px;
  color: #444;
  z-index: 9999999999 !important;
  align-items: center;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin: 5px 0 0px 48px;
}

.ant-notification-notice-description {
  font-size: 13px !important;
  max-width: 240px !important;
  width: 100%;
  line-height: 1.4;
  margin-bottom: 2px;
}

.anticon.ant-notification-notice-icon-error svg,
.anticon.ant-notification-notice-icon-success svg,
.ant-notification-notice-error > .ant-notification-notice-close svg,
.ant-notification-notice-success > .ant-notification-notice-close svg {
  display: none;
}

/* error */
.ant-notification-notice.ant-notification-notice-error {
  color: #fff;
  background: #f44336;
  border-radius: 8px;
}

.anticon.ant-notification-notice-icon-error {
  background: url(../../image/icon/ic_infomation.svg) no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  height: 32px;
  width: 32px;
  margin: 0;
  border-radius: 50%;
}

.ant-notification-notice-error > .ant-notification-notice-close {
  background: url(../../image/icon/ic_cancel_danger.svg) no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  height: 32px;
  width: 32px;
  margin: 0;
  border-radius: 50%;
}

/* success */
.ant-notification-notice.ant-notification-notice-success {
  color: #fff;
  background: #10b981;
  border-radius: 8px;
}

.anticon.ant-notification-notice-icon-success {
  background: url("../../image/icon/ic_success.svg") no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  height: 32px;
  width: 32px;
  margin: 0;
  border-radius: 50%;
}

.ant-notification-notice-success > .ant-notification-notice-close {
  background: url(../../image/icon/ic_cancel_success.svg) no-repeat center
    center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  height: 32px;
  width: 32px;
  margin: 0;
  border-radius: 50%;
}

/* Custom modal confirm */
.cs-ant-modal__confirm_popup {
  max-width: 320px !important;
  width: 100% !important;
}

.cs-ant-modal__confirm_popup .ant-modal-header {
  background: #f59e0b !important;
  height: 68px;
  border-radius: 8px 8px 0 0;
}

.cs-ant-modal__confirm_popup .ant-modal-body {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #607d8b;
  min-height: 138px;
  height: 100% !important;
}

.cs-ant-modal__confirm_popup .ant-modal-footer {
  border: none !important;
  background: #fff !important;
  min-height: 56px !important;
  border-radius: 0 0 8px 8px;
}

.cs-ant-modal__confirm_popup .btn-confirm,
.cs-ant-modal__confirm_popup .btn-cancel {
  height: 24px;
  font-size: 12px !important;
  font-weight: 600;
  width: 94px !important;
  padding: 8px 12px;
}

.cs-ant-modal__confirm_popup .btn-confirm img {
  margin-bottom: 0 !important;
}

.cs-ant-modal__confirm_popup .btn-cancel {
  width: 48px !important;
}

.cs-ant-modal__confirm_popup .ant-modal-footer .btn-cancel {
  background: #fff;
  border: none !important;
  color: #546e7a;
  min-width: 26px;
  margin: 0;
}

.cs-ant-modal__confirm_popup
  .ant-modal-footer
  .ant-btn.ant-btn-primary.btn-confirm {
  background: #f59e0b;
  border: 1px solid #f59e0b;
  border-radius: 8px;
  padding: 0 10px;
}

.cs-ant-modal__confirm_popup
  .ant-modal-footer
  .ant-btn.ant-btn-primary.btn-confirm
  img {
  margin: 0px 4px 1.5px 0;
}

.cs-ant-modal__confirm_popup .ant-modal-footer .btn-cancel img {
  display: none;
}

.cs-ant-modal__confirm_popup .ant-modal-title {
  color: #fff !important;
}

.cs-ant-modal__confirm_popup .ant-modal-close .ant-modal-close-x span {
  display: none;
}

.cs-ant-modal__confirm_popup .ant-modal-close {
  height: 68px !important;
}

.cs-ant-modal__confirm_popup .ant-modal-close .ant-modal-close-x {
  background: url(../../image/icon/ic_cancel_confirm.svg) no-repeat center
    center;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  opacity: 1;
}
/* end */

/* Style sort */
.ant-table-column-sorter {
  display: flex;
  align-items: center;
}

.ant-table-tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #f0f0f0;
}

.ant-table-tbody > tr > td .cell-content span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.ant-table-column-sorters,
.ant-table-column-title {
  justify-content: unset;
  flex: unset;
}
/* .ant-table-column-sorter-inner svg {
  display: none;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-up {
  background: url(../../image/icon/ic-chevron-down.svg) no-repeat center center;
  width: 8px;
  height: 8px;
  display: block;
  transform: rotate(180deg);
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-down {
  background: url(../../image/icon/ic-chevron-down.svg) no-repeat center center;
  width: 8px;
  height: 10px;
  display: block;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-up.active {
  transition: all 0.3s;
  filter: invert(58%) sepia(60%) saturate(5947%) hue-rotate(165deg)
    brightness(99%) contrast(101%);
  display: block;
}

.ant-table-column-sorter-inner > .ant-table-column-sorter-down.active {
  transition: all 0.3s;
  filter: invert(58%) sepia(60%) saturate(5947%) hue-rotate(165deg)
    brightness(99%) contrast(101%);
  display: block;
}  */

.ant-message {
  z-index: 1052;
}

.ant-message-custom-content.ant-message-error {
  display: flex;
  align-items: center;
}

/* Style */
.ant-message {
  z-index: 5000;
}
.cs-ant-drawer {
  z-index: 1090;
}
.ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left {
  z-index: 2;
}

/* Style modal fullscreen */
.cs-ant-modal__spacing .ant-modal-body {
  padding: 24px;
}

.ant-form-item.submit > .ant-form-item-row {
  margin-bottom: 0;
}

.ant-modal-wrap {
  top: 68px;
}

.cs-ant-modal__fullscreen {
  width: 100%;
  height: calc(100% - 64px);
  max-width: inherit !important;
}

.cs-ant-modal__fullscreen .ant-modal-content {
  background: #fafcfc;
}

.cs-ant-modal__fullscreen > .ant-modal-content {
  height: 100%;
  box-shadow: none !important;
}

.cs-ant-modal__fullscreen > .ant-modal-content > .ant-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cs-ant-modal__fullscreen {
  background: #fafcfc;
}

.cs-ant-modal__fullscreen .ant-modal-close {
  display: none;
}

.cs-ant-modal__fullscreen .ant-modal-header {
  background: #fafcfc;
  padding: 24px 0 16px 88px;
  border-bottom: 1px solid #cfd8dc;
}

.cs-ant-modal__fullscreen .ant-modal-header .ant-modal-title {
  line-height: 27px;
}

.cs-ant-modal__fullscreen .cs-ant-formitem.item-search {
  justify-content: space-between;
  max-width: 414px;
  margin: 0;
}

.cs-ant-modal__fullscreen .ant-modal-body {
  padding: 24px 0px 0;
  background: #fafcfc;
  padding-bottom: 140px;
}

.cs-ant-modal__fullscreen .ant-modal-footer {
  padding-right: 95px;
}

.cs-ant-modal__fullscreen .ant-form-item-label,
.cs-ant-modal__fullscreen .ant-form-item-control {
  flex: unset !important;
}

.cs-ant-modal__fullscreen .ant-form-item-label {
  max-width: 152px !important;
  min-width: 152px !important;
  width: 100% !important;
}

.cs-ant-modal__fullscreen .ant-form-item-control {
  flex: 1 !important;
}

.cs-ant-modal__fullscreen .ant-form-item-label label {
  max-width: 152px !important;
  min-width: 152px !important;
  width: 100% !important;
}
.cs-ant-modal__fullscreen .cs-ant-input,
.ant-input-number-input {
  max-width: inherit !important;
}
.cs-ant-modal__fullscreen .ant-row.ant-form-item-row {
  width: 100%;
}
.cs-ant-modal__fullscreen .cs-ant-picker.ant-picker,
.cs-ant-modal__fullscreen .cs-ant-select.ant-select {
  max-width: inherit !important;
  /* border: 1px solid #e5e7eb !important; */
}
.cs-ant-picker.ant-picker.ant-picker-large {
  border: 1px solid #e5e7eb !important;
}
.cs-ant-modal__fullscreen .ant-form-item > .ant-form-item-row {
  margin-bottom: 0;
}
.cs-ant-form_noLabel .ant-form-item-label {
  display: none;
}

/* Style separator */
.ant-divider-horizontal {
  margin: 0;
}

/* Style scrollbar */
.ant-modal-body::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.ant-modal-body::-webkit-scrollbar-track {
  background: transparent;
}
.cs-ant-modal__fullscreen .group-add,
.cs-ant-modal__fullscreen .group-add .item-search {
  align-items: unset;
  min-height: 40px;
}
.block-search .ant-affix {
  z-index: 1055;
}
.fix-header .ant-affix {
  box-shadow: rgb(0 0 0 / 7%) 0px 5px 18px;
}
.ant-tooltip-inner {
  white-space: pre-line;
}

.ant-modal-body::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
