.navigation {
    >ul {
        display: flex;
        align-items: center;
        >li {
            position: relative;
            >a {
                padding: 8px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #A8B0D8;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
                
                @include desktop {  
                    padding: 6px;
                    font-size: 12px;
                }

                @include desktop-medium {
                    padding: 6px 4px;
                }

                .icon-nav {
                    margin-right: 6px;

                    @include desktop-medium {
                        display: none;
                    }
                }

                .icon-nav-ac {
                    margin-right: 6px;
                    display: none;

                    @include desktop-medium {
                        display: none;
                    }
                }
                

                span {
                    @include desktop-large {
                        max-width: 85px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                }
            }
            &:hover {
                >a {
                    color: $clr-white;
                    transition: all 0.3s ease-in-out;
                }

                .icon-nav {
                    display: none;
                }

                .icon-nav-ac {
                    display: block;
                    @include desktop-medium {
                        display: none;
                    }
                }

                .block-dropdown {
                    display: block;
                   
                }
            }
            &.active {
                >a {
                    background: #4086E7;
                    color: $clr-white;
                }

                .icon-nav {
                    display: none;
                }

                .icon-nav-ac {
                    display: block;
                    @include desktop-medium {
                        display: none;
                    }
                }
            }

            &.has-dropdown {
                &:hover a::after {
                    width: 100%;
                    transition: all .3s linear;
                }

                &:hover .icon-agldown {
                    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(100%) contrast(101%);
                }

                > a::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 0;
                    // background-color: #E4F2FE;
                    transition: width .2s ease-out;
                    -webkit-transition: width .2s ease-out;
                }

                &:hover > a {
                    color: #fff;
                    opacity: 0.88;
                }

                &.active {
                    > a {
                        background-color: transparent;
                        color: #FFD281;

                        &:hover {
                            color: #FFD281 !important;
                        }
                        
                        &:after {
                            width: 100%;
                            background-color: #FFD281;
                        }
                    }
                }
            }
        }
    }

    &.sub {
        > ul {
            > li {
                &:not(:last-child) {
                    margin-right: 40px;
                }
                &:hover a {
                    background: none;
                    // color: $clr-white;
                }
                > a {
                    height: 40px;
                    padding: 12px 0;
                    color: #99AFDF;

                    .icon-agldown {
                        margin: 0 0 2px 5px;
                    }

                    span {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.sub-head {
    background: $clr-m-light;
    padding-left: 88px;
}

.block-dropdown {
    position: absolute;
    padding-top: 6px;
    top: 100%;
    left: 0;
    display: none;
    ul {
        padding: 16px 24px 32px 12px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 212px;
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 80px);
        &::-webkit-scrollbar {
            width: 6px;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: #fafafa;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: #f1f1f1;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #f1f1f1;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            a {
                display: block;
                position: relative;
                transition: all 0.2s ease-in-out;
                line-height: 1.4;
                padding: 0;
                color: #78909C !important;
                &:hover {
                    color: $clr-m !important;
                }
            }
            &.active {
                a {
                    &:after {
                        background: #6E6B7B;
                    }
                }
            }
        }
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022