.bread-crumb {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    a {
        color: #A73733;
        &:last-child {
            color: #6E6B7B;
            font-size: 18px;
            line-height: 21px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        margin: 0 14px;
        &.icon-home {
            margin: 0;
        }
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
