.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ECEFF1;
    z-index: 99;
    
    &-form {
        padding: 13px 0;
        width: 100%;
        background: #F4FAFF;
        text-align: right;
        display: flex;
        justify-content: right;
        padding-right: 96px;
    }

    & > div:last-child {
        height: 32px;
        line-height: 32px;
        padding: 0 40px;
        background: #ECEFF1;
    }
}

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.session {
    display: flex;
    align-items: center;
    color: #059669;
    img {
        width: 10px;
        height: 10px;
        margin-right: 8px;
    }
}

.times {
    display: flex;
    align-items: center;
    color: #1E3A8A;
    font-size: 13px;
    line-height: 12.5px;
    img {
        width: 12px;
        height: 10px;
        margin-right: 6px;
    }
}