.wrap__login {
    height: 100vh;
    background-image: linear-gradient(110.88deg, #E2E1FF 6.53%, rgba(255, 255, 255, 0) 51.96%),
        url(../image/image/bg-login.png);
    background-repeat: no-repeat;
    background-position: center top;
    
    .flex-login {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flex-head {
        display: flex;
        align-items: center;
        padding-top: 56px;

        @include mobile {
            padding-top: 32px;
            justify-content: center;
        }

        a {
            display: block;
            padding-right: 8.5px;
        }
    }

    .flex-body {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;

        h2 {
            font-weight: 600;
            font-size: 35px;
            line-height: 44px;
            color: #546E7A;
            margin-bottom: 40px;

            @include mobile {
                font-size: 32px;
                margin-bottom: 32px;
            }
        }

        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
            color: #546E7A;
            margin-bottom: 32px;

            @include mobile {
                font-size: 20px;
                margin-bottom: 26px;
            }
        }
    }

    .field-login {
        height: 48px;
        margin-bottom: 32px;

        @include mobile {
            height: 38px;
            margin-bottom: 24px;
        }
        input {
            height: 100%;
            background: #FFFFFF;
            border: 1.5px solid #78909C;
            border-radius: 8px;
        }
    }

    .save-password {
        display: flex;
        align-items: center;

        > label {
            margin: 0 0 0 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #78909C;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        margin-bottom: 18px;

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #546E7A;

            @include mobile {
                text-align: center;
            }
        }
    }
}