.sidebar {
    position: fixed;
    width: 248px;
    background: #fff;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    z-index: 9;
    .menu-parent {
        >li {
            &.has-dropdown>a.rotate .angle-dark,
            &.has-dropdown>a.rotate .angle-light {
                transform: translateY(-50%) rotate(180deg);
                transition: all 0.3s;
            }
            position: relative;
            &:hover>a {
                background: #61a3e080;
                background: linear-gradient(280.01deg, rgba(245, 139, 32, 0.27) -17.86%, rgba(255, 255, 255, 0) 54.59%);
                color: #F58A20;
                transition: all 0.3s;
                & .icon-dark,
                & .angle-dark {
                    display: none;
                }
                & .icon-light,
                & .angle-light {
                    display: inline-block;
                }
            }
            >a {
                display: flex;
                align-items: center;
                position: relative;
                color: #135B80;
                padding: 12px 32px 12px 13px;
                transition: all 0.3s;
                min-height: 42px;
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                letter-spacing: -0.005em;
                img {
                    vertical-align: middle;
                }
                span {
                    width: 95px;
                    display: block;
                    white-space: nowrap;
                }
                & .icon-dark {
                    display: inline-block;
                    margin-right: 17px;
                }
                & .icon-light {
                    display: none;
                    margin-right: 17px;
                }
                & .angle-dark {
                    position: absolute;
                    top: 50%;
                    right: 14px;
                    transform: translateY(-50%);
                    display: block;
                    transition: all 0.3s;
                }
                & .angle-light {
                    position: absolute;
                    top: 50%;
                    right: 14px;
                    transform: translateY(-50%);
                    display: none;
                    transition: all 0.3s;
                }
            }
        }
        .menuchild {
            display: block;
            width: 100%;
            background: #F5F2F0;
            >li {
                &:hover>a {
                    color: #F58A20;
                    transition: all 0.3s;
                    background: linear-gradient(280.01deg, rgba(245, 139, 32, 0.27) -17.86%, rgba(255, 255, 255, 0) 54.59%);
                    & .liststyle {
                        display: none;
                    }
                    & .liststyle-hv {
                        display: inline-block;
                    }
                }
                >a {
                    display: block;
                    padding: 14px 10px 14px 42px;
                    position: relative;
                    color: #135B80;
                    transition: all 0.3s;
                    & .liststyle {
                        display: inline-block;
                        margin-right: 6px;
                        position: absolute;
                        top: 21px;
                        left: 22px;
                    }
                    & .liststyle-hv {
                        display: none;
                        margin-right: 6px;
                        position: absolute;
                        top: 21px;
                        left: 22px;
                    }
                    & .liststyle-light {
                        display: none;
                        margin-right: 6px;
                        position: absolute;
                        top: 21px;
                        left: 22px;
                    }
                }
            }
        }
    }
}

// Style thanh scroll
.header.sidebar::-webkit-scrollbar {
    width: 5px;
}

.header.sidebar::-webkit-scrollbar-thumb {
    background: #DDD9D9;
    border-radius: 10px;
    width: 5px;
}

.header.sidebar::-webkit-scrollbar-track {
    background: #B6B6B6;
    border-radius: 10px;
    width: 5px;
}

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
