// Các khối block chứa các element con
// Nếu là block chỉ dùng cho search thì sử dụng block-search
.block-search {
    background: #FAFCFC;
    border-bottom: 1px solid #CFD8DC;
}

.block-add {
    background: #FAFCFC;
    border-radius: 5px;
    padding: 24px 0 0;
}

.box-add {
    margin:0 16px;

    &.manage {
        border-bottom: 1px solid #CFD8DC;
        
    }
}

.block-wrap {
    border: 1px solid #ECEFF1;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
}

.head-wrap {
    position: absolute;
    top: -10px;
    left: 14px;
    background-color: #FAFCFC;
    padding: 0 6px;
}

.body-wrap {
    padding: 16px 24px 0px 16px;
}


// Style block group
.block-group {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 24px;
}

.box-group {
    > div:first-child {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #546E7A;
        margin-bottom: 8px;
    }
}


.body-group {
    input {
        width: 100%;
        padding: 6px 0 6px 37px;
        margin: 0;
        height: 28px;
    }

    .content-group {
        border-radius: 8px;
        border: 1px solid #CFD8DC;
    }

    .list-group {
        padding: 8px;
        border-radius: 8px;
        max-height: 320px;
        height: 100%;
        overflow-y: auto;
    }

    .item-group {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        a {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

div.ic-search {
    margin-bottom: 6px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        background: url(../image/icon/ic-search-gray.svg) no-repeat center center;
        width: 16px;
        height: 16px;
    }
}

.transaction {
    .block-group {
        grid-template-columns: 600px 600px;
        column-gap: 32px;
    }

    .box-group {
        border-radius: 8px;
        border: 1px solid #CFD8DC;
        box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.03);
        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #2F44A1;
            padding: 6px 8px 6px 8px;
            margin-bottom: 0;
            background: #fff;
            border-radius: 8px 8px 0 0;
            

            .ic-search {
                margin: 0;
                filter: drop-shadow(-1px -1px 1px #FFFFFF) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));

                &::after {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                input {
                    width: 21px;
                    height: 21px;
                }
            }
        }
    }

    .body-group {
        .content-group {
            border: none;
        }
        button.btn-group {
            background: #EFF6FF;
            color: #546E7A;
            border: none;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05), inset -1px 0px 2px rgba(0, 0, 0, 0.05), inset 0px -1px 2px rgba(0, 0, 0, 0.05), inset 1px 0px 2px rgba(0, 0, 0, 0.05);
            border-radius: 0;
        }
    }
}

// End
.justify-end > .group-add {
   justify-content: end;
}

.group-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    column-gap: 8px;
    
    .item-search {
        flex: 1;
        max-width: 378px;
        height: 40px;

        label {
            max-width: 128px;
            min-width: 128px;
            width: 100%;
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
        }
    }

    .item-search + .item-search {
        justify-content: end;
    }

    &-three {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &.c40-gap {
        label {
            max-width: 72px;
        }
    }

    &.c64-gap {
        margin: 0 8px 8px;
        label {
            max-width: 80px;
            min-width: 80px;
        }
        
        .name {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #37474F;
        }

        select {
            background-color: #fff;
        }

        &:last-child {
            padding-top: 24px;
            border-top: 1px solid #CFD8DC;
        }
    }
}

.head-add {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #546E7A;
    padding: 24px 0 16px;
}

.body-search {
    padding: 0 16px;
}

.box-top {
    background: #FAFCFC;
    border-radius: 5px;
    .box-search {
        row-gap: 10px;
        margin-bottom: 8px;
    }
}

.box-search {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .item-search {
        width: 100%;
        max-width: calc(20% - 16px);
    }
    
}

.item-search {
    display: flex;
    align-items: center;
    position: relative;

    label {
        font-size: 13px;
        margin: 0 16px 0 0;
        white-space: nowrap;
    }

    &.sl {
        position: relative;

        &:after {
            content: "";
            width: 25px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            background: url(../image/icon/ic-arr-down2.svg) no-repeat center right;
        }
    }

    input {
        max-width: 250px;
        width: 100%;
        height: 40px;
        border: 1px solid #E5E7EB;
        border-radius: 6px;

        &::placeholder {
            color: #111827;
        }

        &.date {
            position: relative;
            padding-left: 32px;
            background: url(../image/icon/ic-calendar.svg) no-repeat center left 12px, #fff;
            background-position: 12px 12px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
            }
        }
    }

    select {
        max-width: 250px;
        width: 100%;
        height: 40px;
        border: 1px solid #E5E7EB;
        border-radius: 6px;

        &::placeholder {
            color: #111827;
        }
    }
}

.block-function {
    background: #FAFCFC;
    border-bottom: 1px solid #CFD8DC;
}

.head-function {    
    @include f-center-between;
    padding: 24px 0 16px;
}

.box-function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 594px;
    width: 100%;
}

.block-exchange {
    display: flex;
    gap: 16px;
    padding-top: 16px;
}

.box-exchange {
    background-color: #fff;
    padding: 16px;
    width: 100%;

    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #546E7A;
        margin-bottom: 16px;
    }

    &:nth-child(1) {
        border-radius: 0px 8px 8px 0px;
        flex: 0 0 32.15%;
        max-width: 32.15%;
    }

    &:nth-child(2) {
        border-radius: 8px;
        background: #F9FFF9;
        flex: 0 0 34%;
        max-width: 34%;
    }

    &:nth-child(3) {
        border-radius: 8px 0px 0px 8px;
        flex: 0 0 32.15%;
        max-width: 32.15%;
    }

    &:nth-child(4) {
        max-width: 100%;
    }
}

// Nếu là block chỉ dùng cho table thì sử dụng block-record
.block-record {
    border-radius: 5px;
    background: #FAFCFC;
    margin-bottom: 20px;
    padding: 24px 0px 40px;
}

.block-utilities {
    display: flex;

    button {
        background: none;
        box-shadow: none;
        color: #607D8B;
        font-size: 13px;
        font-weight: 600;
        height: 24px;
        white-space: nowrap;

        img {
            margin-right: 6px;
        }

        span {
            margin-top: 2px;
        }
    }

    &.func {
        column-gap: 12px;
        button {
            margin-left: 0;
            border: 1px solid #4086E7;
            border-radius: 4px;
            padding: 3.5px 8px;
            height: 100%;

            img, i {
                width: 14px;
                height: 14px;
                font-size: 14px;
                margin-right: 6px;
            }
        }
    }
}

.foot-record {
    @include f-center-between;

    padding: 18px 16px 18px;
    color: #6E6B7B;
    border: 1px solid #ECEFF1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff;

    > div:first-child {
        max-width: 587px;
        width: 100%;
    }
}

// Nếu là block chỉ dùng cho popup thì sử dụng block-report
.body-report {
    padding: 32px 16px;
    max-height: calc(100vh - 172px);
    overflow-y: auto;
}

.foot-report {
    padding: 16px;
    background: #F4FAFF;
}

// Nếu là các block gồm label input nằm ngang thì sử dụng flex-report
.flex-report {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-report {
        color: #404040;
        min-width: 118px;
        margin-right: 10px;
    }
    .field-report {
        min-width: calc(100% - 128px);
    }
}

// Style block info
.block-info {
    display: flex;
    column-gap: 48px;
    background: #FFFFFF;
    padding: 16px 0 32px 64px;
}

.box-info {
    max-width: 176px;
    width: 100%;
    font-size: 12px;
}

.head-info {
    font-weight: 600;
    line-height: 15px;
    color: #607D8B;
    margin-bottom: 13px;
}

.body-info {
    > a {
        color: #78909C;
        display: block;
        margin-bottom: 8px;
        line-height: 15px;
        &:hover {
            color: $clr-m-light;
        }
    }
}

// Style các element khác có trong dự án
.logo {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    margin-bottom: 30px;
    img {
        margin-right: 8px;
        height: 28px;
    }
    .txt-logo {
        color: #1B3E74;
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        span {
            white-space: nowrap;
        }
    }
}

.main {
    padding: 100px 0;
    min-height: 100vh;
    background: #FAFCFC;
    position: relative;
}

.sidebar+.main {
    width: calc(100% - 248px);
    padding: 0 15px 50px 15px;
    float: right;
    transition: all 0.3s;
    min-height: 100vh;
}

.sidebar+.main>.container {
    padding: 0 10px;
}

.head-search {
    @include f-center-between;
    padding: 24px 0 16px;
}

.search-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 594px;
    width: 100%;
}

.f-center-between {
    @include f-center-between;
}

// Style search
.search {
    background-color: #FAFCFC;
    
    &__wrap {
        padding: 24px 24px 18px;
        display: flex;

        &.short {
            padding: 0;
            padding-top: 24px;
            padding-bottom: 16px;
            border-bottom: 1px solid #CFD8DC;
        }
    }

    &__option {
        max-width: 397px;
        width: 100%;
        padding: 16px;
        border: 1px solid #CFD8DC;
        border-radius: 8px;

        &-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            label {
                margin: 0;
            }

            select {
                max-width: 250px;
                width: 100%;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #D9D9D9;
                padding-left: 0;
                color: #607D8B;
            }
        }

        + div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__list {
        padding: 16px 0 0px 24px;
        border: 1px solid #CFD8DC;
        border-radius: 8px;
        width: 60%;
        margin-left: 8px;
        position: relative;
       
        > ul {
            height: 168px;
            overflow-y: auto;
        }

        &-name {
            position: absolute;
            top: -10px;
            background-color: #FAFCFC;
            padding: 0 6px;
        }

        &-item {
            display: flex;
            align-items: center;
            color: #546E7A;
            
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            input[type="checkbox"] {
                width: 16px;
                margin-right: 8px;
            }
            
            a {
                margin-left: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__short {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        a {
            display: inline-flex;
            color: #78909C;

            &:hover {
                color: $clr-m-light;
            }
        }

        &-item {
            display: flex;
            max-width: 100%;
            height: 28px;
            background: rgba(236, 239, 241, 0.3);
            padding: 5px 10px;
            border: 1px solid #B0BEC5;
            border-radius: 999px;
            font-size: 12px;
            white-space: nowrap;

            input[type="checkbox"] {
                width: 16px;
                margin-right: 8px;
            }
        }
    }
}

.signature-box, .uq {
    min-width: 190px;
    height: 196px;
}

// Style price
.price {
    &__info {
        display: flex;
        align-items: center;
       

        &-box {
            display: flex;
            align-items: center;

            > div:first-child {
                margin-right: 4px;
                color: #78909C;
                font-size: 12px;
            }

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    &__content {
        margin-top: 16px;
        display: grid;
        grid-template-columns: auto 244px;
        gap: 24px;
        padding: 0 16px;
    }

    &__box {
        .title {
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color: #78909C;
            margin-bottom: 4px;
        }
    }

    &__inner {
        border: 1px solid #ECEFF1;
        border-radius: 8px;
        padding: 16px;
    }

    &__head {
        display: flex; 
        align-items: center;
        margin-bottom: 8px;

        > div:first-child {
            margin-right: 8px;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #546E7A;
        }

        > div:last-child {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #546E7A;
            margin-top: 4px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        > div:first-child { 
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin-right: 8px;
        }

        > div:last-child {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            margin-top: 2px;
        }
    }
     
    &__bottom {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        color: #546E7A;

        >div:first-child {
            margin-right: 4px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #78909C;
        
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        > div:last-child {
            font-weight: 600;
        }
    }

    &__thead {
        display: flex;
        font-size: 12px;
        > div:nth-child(1) {
            flex: 5 1 0;
        }

        > div:nth-child(2) {
            flex: 3 1 0;
            text-align: right;
        }

        > div:nth-child(3) {
            text-align: right;
            flex: 5 1 0;
        }
    }

    &__group {
        &.active {
            > a {
                background: #CEFDE6;

                > .item {
                    &:first-child, &:nth-child(3) {
                        > .item-text {
                            color: #37474F;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
            
                    &:nth-child(2) {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        color: #4FD08A;
                    }
                }
            }
        }
    }

    &__link {
        display: flex;
        color: #546E7A;
        line-height: 16.25px;
        margin: 0 -16px;
        padding: 10px 16px;

        &:hover {
            color: #37474F;
        }

        .item {
            &:first-child {
                flex: 5 1 0;
    
                > .item-text {
                    margin: 0;
                }
            }
    
            &:nth-child(2) {
                flex: 3 1 0;
                text-align: right;
            }
    
            &:nth-child(3) {
                text-align: right;
                flex: 5 1 0;
            }
        }
    }
}

// Style signature
#signature {
    min-height: 441px;
    height: 100%;
}

.filter {
    margin: 12px 0 0 40px;
    font-weight: 600;
    font-size: 12px;
    color: #78909C;
}

// Style step block
.step {
    display: none;
}

.step.step1 {
    display: block;
}

.step.step3.rotate i{
    transform: rotate(180deg);
	transition: all 0.3s !important;
}

// Style scrollbar
.over-flow-x::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.over-flow-x::-webkit-scrollbar-track,
.scroll-bar::-webkit-scrollbar-track {
    background: transparent;
}

.over-flow-x::-webkit-scrollbar-thumb,
.scroll-bar::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 5px;
}

.over-flow-x::-webkit-scrollbar-thumb:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #888;
}