.header {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: $clr-m;
    // animation: headerdown 0.8s forwards;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.head-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        &__link {
            display: block;
        }
        margin: 0 24px 0 0;
        padding: 0;
        img {
            margin: 0;
        }
    }
}

.head-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &-search {
        position: relative;

        input {
            max-width: 200px;
            width: 100%;
            background: #DFE3F4;
            padding: 8.5px 32px;
    
            &::placeholder {
                font-style: normal;
                color: $clr-m-light;
            }

            &:focus + .head-child {
                display: block;
            }
        }
    
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            width: 15px;
            height: 15px;
            background: url(../image/icon/ic-search.svg) no-repeat center center;
        }

        .head-child {
            position: absolute;
            top: 58px;
            right: 0;
            min-width: 400px;
            width: 100%;
            padding: 16px;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            transition: all .3s;
            display: none;
        }

        .head-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #E1861B;
            display: flex;
            align-items: center;
            padding-bottom: 6px;
            border-bottom: 1px solid #B0BEC5;

            img {
                width: 13px;
                height: 13px;
                margin-right: 8px;
            }
        }

        .head-body {
            padding: 8px 0 0 10px;

            > div {
                font-size: 13px;
                line-height: 16px;
                color: #263238;
                margin-bottom: 16px;
            }
        }
    }

    .user {
        margin-left: 16px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover .block-utility {
            display: block;
        }
        .name-user div {
            color: #6E6B7B;
            text-align: right;
            &:first-child {
                font-weight: 500;
            }
        }
        .avt {
            width: 40px;
            height: 40px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .block-utility {
            position: absolute;
            top: 40px;
            right: -10px;
            width: 133px;
            display: none;
            padding-top: 11px;
            .box-utility {
                background: #FFFFFF;
                box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                overflow: hidden;
                a {
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    span:first-child {
                        min-width: 20px;
                        margin-right: 6px;
                        position: relative;
                        top: -1.5px;
                    }
                    span:last-child {
                        color: #6E6B7B;
                    }
                    &:hover {
                        background: rgba(231, 231, 231, 0.68);
                    }
                }
            }
        }
    }
}

// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
.bell {
    a {
        display: block;
        width: 28px;
        height: 28px;
        margin-left: 20px;
    }
}