/*
    Sử dụng file để style cho các input 
*/

@mixin input-0 {
    width: 16px;
    height: 16px;
    padding: 0 16px;
    height: 32px;
    border: 1.25px solid $clr-bd-m;
    border-radius: 5px;
    text-overflow: ellipsis;
}

input {
    @include input-0;
    &::placeholder {
        font-size: 14px;
        line-height: 24px;
        color: $clr-txt-m;
        font-style: normal;
    }

    &[disabled],
    &[disabled="disabled"],
    &[readonly],
    &[readonly="readonly"] {
        background: #ECEFF1;
    }

    &[disabled]::placeholder,
    &[disabled="disabled"]::placeholder,
    &[readonly]::placeholder,
    &[readonly="readonly"]::placeholder {
        color: #546E7A;
    }
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022


input[type="checkbox"] {
    position: relative;
    height: 15px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 18%;
    left: 38%;
    display: table;
    width: 4px;
    height: 8px;
    border: 1px solid #607D8B;
    color: #37474F;
    border-top-width: 0px;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked:after {
    border: 1px solid $clr-m-light;
}

input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #90A4AE;
}

input[type="checkbox"]:disabled:checked:after {
    background: #ECEFF1;
    border: 1px solid #CFD8DC;
}

// Style checkbox yellow
input[type="checkbox"].yl:checked:before {
    content: "";
    position: absolute;
    top: 18%;
    left: 40.5%;
    display: table;
    width: 4px;
    height: 8px;
    border: 1px solid #fff;
    color: #37474F;
    border-top-width: 0px;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"].yl:checked:after {
    border: 1px solid #E7AB21;
}

input[type="checkbox"].yl:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #E7AB21;
    border: 1px solid #E7AB21;
}