/*
    Sử dụng file để style cho các label 
*/

label {
    position: relative;
    display: flex;
    min-height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $clr-txt-m;
    margin-bottom: 8px;
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
