/*
    Sử dụng file để style cho các select 
*/

select {
    padding: 0 25px 0 16px;
    height: 32px;
    border: 1.25px solid $clr-bd-m;
    border-radius: 5px;
    width: 100%;
    background: url(../image/icon/ic-arr-down2.svg) no-repeat center right 10px, #fff;
    appearance: none;
    text-overflow: ellipsis;
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
select:disabled {
    background: #ECEFF1;
}