/*
    Sử dụng file để style cho các textarea 
*/

textarea {
    width: 100%;
    border: 1.25px solid $clr-bd-m;
    border-radius: 5px;
    height: 120px;
    padding: 16px;
}
// Kết thúc base viết tiếp xuống bên dưới 24/5/2022
