/* ant design */

.ant-form-item-required {
    color: #ff4d4f !important;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: none !important;
}

.ant-picker,
.ant-select {
    max-width: 250px;
    font-size: 13px;
    color: #455a64;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: unset !important;
}

.ant-picker {
    padding-left: 12px;
}

.cs-ant-textarea {
    height: initial !important;
}

.cs-ant-formitem .ant-form-item-label>label {
    white-space: break-spaces;
}


/* .ant-checkbox-inner {
  position: absolute !important;
} */


/* .ant-checkbox-wrapper {
    display: none !important;
} */

.ant-picker-focused {
    box-shadow: 0 0 0 2px #40d2f2;
}

.ant-picker-today-btn {
    color: #4085e7;
}

.ant-picker input,
.ant-select input {
    font-size: 13px;
    color: #455a64;
}

.ant-notification {
    z-index: 2000 !important;
}


/* 
.ant-select-selector {
    height: 40px !important;
    border: 1px solid #e5e7eb !important;
} */

th.ant-table-cell {
    background: #eceff1 !important;
    border: 1px solid #eceff1 !important;
    padding: 12px 10px !important;
    line-height: 16px !important;
    color: #607d8b !important;
    white-space: nowrap !important;
}

.item-search .ant-picker-input input {
    border: none !important;
    background: none !important;
}

.ant-table-body::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.ant-table-body::-webkit-scrollbar-track {
    background: transparent;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 5px;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.table-auto-width {
    width: auto !important;
}

.footer-form {
    position: absolute;
    bottom: 32px;
}

/* .ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left>.ant-table-selection {
    display: none;
} */

.ant-table-cell-ellipsis .ant-table-column-title {
    overflow: initial !important;
    overflow-x: clip !important;
}
.cs-ant-form__fullscreen .cs-ant-formitem{
    width: 100%;
}