.footer {
  z-index: 1080 !important;
}

.navigation > ul {
  min-height: 40px;
}
.header {
  z-index: 1080 !important;
}
.user .block-utility {
  z-index: 1;
}

.search__option-box input {
  max-width: 250px;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0;
}
.foot-report__container {
  position: fixed;
  width: 100%;
  bottom: 32px;
}
.ant-table-container table tbody tr td {
  white-space: inherit !important;
}
.ant-table-container table tbody tr td .cell-content {
  line-height: 1.2em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-height: 2.4em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
}
.ant-table-container table tbody tr td .cell-content:after {
  content: "...";
  position: absolute;
  right: -12px;
  bottom: 4px;
}

.clr-gr {
  color: #0fb159;
}

.clr-red {
  color: #cf422f;
}

.clr-vio {
  color: #bb33dd;
}

.clr-blue {
  color: #00cccc;
}

.clr-yl {
  color: #fbbf24;
}

.clr-gray {
  color: #546e7a;
}

.head-search {
  background: #fafcfc;
}

/* .group-add .item-search label {
    white-space: break-spaces;
} */
